
/*Berkshire_Swash*/
@font-face {
    font-family: 'BerkshireSwash';
    src: url('/fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf');
}
/*Merriwheather Sans*/
@font-face {
    font-family: 'MerriweatherSans-Bold';
    src: url('/fonts/Merriwheather-Sans/MerriweatherSans-Bold.ttf');
}
@font-face {
    font-family: 'MMerriweatherSans-BoldItalic';
    src: url('/fonts/Merriwheather-Sans/MerriweatherSans-BoldItalic.ttf');
}
@font-face {
    font-family: 'MerriweatherSans-ExtraBold';
    src: url('/fonts/Merriwheather-Sans/MerriweatherSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'MerriweatherSans-ExtraBoldItalic';
    src: url('/fonts/Merriwheather-Sans/MerriweatherSans-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: 'MerriweatherSans-Italic';
    src: url('/fonts/Merriwheather-Sans/MerriweatherSans-Italic.ttf');
}
@font-face {
    font-family: 'MerriweatherSans-Light';
    src: url('/fonts/Merriwheather-Sans/MerriweatherSans-Light.ttf');
}
@font-face {
    font-family: 'MerriweatherSans-LightItalic';
    src: url('/fonts/Merriwheather-Sans/MerriweatherSans-LightItalic.ttf');
}
@font-face {
    font-family: 'MerriweatherSans-Regular';
    src: url('/fonts/Merriwheather-Sans/MerriweatherSans-Regular.ttf');
}
/*Playfair Display*/
@font-face {
    font-family: 'PlayfairDisplay-Black';
    src: url('/fonts/Playfair-Display/PlayfairDisplay-Black.ttf');
}
@font-face {
    font-family: 'PlayfairDisplay-BlackItalic';
    src: url('/fonts/Playfair-Display/PlayfairDisplay-BlackItalic.ttf');
}
@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('/fonts/Playfair-Display/PlayfairDisplay-Bold.ttf');
}
@font-face {
    font-family: 'PlayfairDisplay-BoldItalic';
    src: url('/fonts/Playfair-Display/PlayfairDisplay-BoldItalic.ttf');
}
@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('/fonts/Playfair-Display/PlayfairDisplay-Italic.ttf');
}
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('/fonts/Playfair-Display/PPlayfairDisplay-Regular.ttf');
}
