@media only screen and ( max-width: 768px ) {
  .product {
    padding: 10px;
  }

  .product .product-container-mobile {
    align-items: center;
    border: 2px solid #E83671;
    display: flex;
    padding: 20px 20px;
    flex-direction: column;
  }

  .product .product-container-desktop {
    display: none;
  }

  .product .product-container-mobile img {
    content:url("/images/pdp/bouquet_victoria_pdp_mobile.jpg");
    height: auto;
    max-width: 100%;
  }

  .product .product-container-mobile .product-title {
    font-family: 'MerriweatherSans';
    font-size: 28px;
  }

  .product .product-container-mobile .product-description {
    margin-bottom: 20px;
  }
  .product .product-container-mobile .product-description b {
    font-family: 'MerriweatherSans-Regular';
  }

  .product .product-container-mobile .product-description p {
    display: inline;
    font-family: 'MerriweatherSans-Light';
  }

  .product .product-container-mobile .product-bouquet {
    align-self: flex-start;
    font-family: 'MerriweatherSans-Regular';
  }

  .product .product-container-mobile .colors-bouquet {
    padding: 20px;
  }

  .product .product-container-mobile .colors-bouquet span {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: inline-block;
  }

  .product .product-container-mobile .colors-bouquet span:nth-child(1) {
    margin-right: 20px;
    background-color: pink;
  }

  .product .product-container-mobile .colors-bouquet span:nth-child(2) {
    margin-right: 20px;
    background-color: orange;
  }

  .product .product-container-mobile .colors-bouquet span:nth-child(3) {
    background-color: red;
  }

  .product .product-container-mobile .qty {
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  .product .product-container-mobile .qty b {
    font-family: "MerriweatherSans-Bold";
  }

  .product .product-container-mobile .product-price {
    font-family: "MerriweatherSans-Bold";
    font-size: 30px;
    color: #E83671;
    align-self: flex-start;
  }

  .product .product-container-mobile button {
    background-color: #E83671;
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-family: 'PlayfairDisplay-Bold';
    padding: 15px 30px;
  }

  .product .product-container-mobile .title-footer {
    color: black;
    font-family: "MerriweatherSans-Bold";
    font-size: 30;
  }

  .product .product-container-mobile .share-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .product .product-container-mobile .share-icons div img {
    max-width: 30px;
    height: auto;
  }

  .product .product-container-mobile .share-icons div:nth-child(1) img {
    content: url("/images/pdp/icon_facebook_pink.png");
    max-width: 20px;
  }

  .product .product-container-mobile .share-icons div:nth-child(1) img:hover {
    content: url("/images/pdp/icon_facebook_black.png");
    max-width: 20px;
  }

  .product .product-container-mobile .share-icons div:nth-child(2) img {
    content: url("/images/pdp/icon_pinterest_pink.png");
  }

  .product .product-container-mobile .share-icons div:nth-child(2) img:hover {
    content: url("/images/pdp/icon_pinterest_black.png");
  }

  .product .product-container-mobile .share-icons div:nth-child(3) img {
    content: url("/images/pdp/icon_gPlus_pink.png");
  }

  .product .product-container-mobile .share-icons div:nth-child(3) img:hover {
    content: url("/images/pdp/icon_gPlus_black.png");
  }
}

@media only screen and ( min-width: 769px ) {
  .product {
    margin-top: 40px;
    width: 100%;
  }

  .product .product-container-mobile {
    display: none;
  }

  .product .product-container-desktop {
    border: 2px solid #E83671;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    overflow: auto;
  }

  .product .product-container-desktop .product-img {
    align-items: center;
    display: flex;
    flex-direction: row;
    float: left ;
    margin: 0;
    width: 47%;
  }

  .product .product-container-desktop .product-img img {
    content: url("/images/pdp/bouquet_victoria_pdp_desktop.jpg");
    height: auto;
    max-width: 80%;
  }

  .product .product-container-desktop .product-img .product-img-thumbnail {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
  }

  .product .product-container-desktop .product-img .product-img-thumbnail .image-container {
    padding: 4px;
  }

  .product .product-container-desktop .product-img .product-img-thumbnail .image-container:hover {
    border: 1px solid red;
  }

  .product .product-container-desktop .product-img .product-img-thumbnail .image-container:nth-child(1) {
    margin-bottom: 65px;
  }

  .product .product-container-desktop .product-img .product-img-thumbnail .image-container:nth-child(1) div img {
    content: url("/images/pdp/pdp_thumbnail_1.jpg");
    height: auto;
    max-width: 100%;
  }

  .product .product-container-desktop .product-img .product-img-thumbnail .image-container:nth-child(2) div img {
    content: url("/images/pdp/pdp_thumbnail_2.jpg");
    height: auto;
    max-width: 100%;
  }

  .product .product-container-desktop .product-img .product-img-thumbnail .image-container div:hover {
    background-color: #E83671;
  }

  .product .product-container-desktop .product-img .product-img-thumbnail .image-container div img:hover {
    opacity: 0.3;
  }

  .product .product-container-desktop .product-info {
    float: right;
    margin: 0;
    width: 47%;
  }

  .footer {
    clear: both;
  }
}
