@media only screen and ( max-width: 768px ) {
  .product {
    padding: 10px;
  }

  .product .product-container-mobile {
    align-items: center;
    border: 2px solid #E83671;
    display: flex;
    flex-direction: column;
  }

  .product .product-container-desktop {
    display: none;
  }

  .product .product-container-mobile img {
    content:url("/images/pdp/bouquet_victoria_pdp_mobile.jpg");
    height: auto;
    max-width: 100%;
  }
}

@media only screen and ( min-width: 769px ) {
  .product {
    margin-top: 40px;
    width: 100%;
  }

  .product .product-container-mobile {
    display: none;
  }

  .product .product-container-desktop {
    border: 2px solid #E83671;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    overflow: auto;
  }

  .product .product-container-desktop .product-img {
    align-items: center;
    display: flex;
    flex-direction: row;
    float: left ;
    margin: 0;
    width: 47%;
  }

  .product .product-container-desktop .product-img img {
    content: url("/images/pdp/bouquet_victoria_pdp_desktop.jpg");
    height: auto;
    max-width: 80%;
  }

  .product .product-container-desktop .product-img .product-img-thumbnail {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
  }

  .product .product-container-desktop .product-img .product-img-thumbnail .image-container {
    padding: 4px;
  }

  .product .product-container-desktop .product-img .product-img-thumbnail .image-container:hover {
    border: 1px solid red;
  }

  .product .product-container-desktop .product-img .product-img-thumbnail .image-container:nth-child(1) {
    margin-bottom: 65px;
  }

  .product .product-container-desktop .product-img .product-img-thumbnail .image-container:nth-child(1) div img {
    content: url("/images/pdp/pdp_thumbnail_1.jpg");
    height: auto;
    max-width: 100%;
  }


  .product .product-container-desktop .product-img .product-img-thumbnail .image-container:nth-child(2) div img {
    content: url("/images/pdp/pdp_thumbnail_2.jpg");
    height: auto;
    max-width: 100%;
  }

  .product .product-container-desktop .product-img .product-img-thumbnail .image-container div:hover {
    background-color: #E83671;
  }

  .product .product-container-desktop .product-img .product-img-thumbnail .image-container div img:hover {
    opacity: 0.3;
  }

  .product .product-container-desktop .product-info {
    float: right;
    margin: 0;
    width: 47%;
  }

  .footer {
    clear: both;
  }
}
