.breadcrumb-box {
  padding: 10px 15px;
}

ul.breadcrumb {
  padding: 0px;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #000;
  text-decoration: none;
}

li.active {
  font-weight: bold;
}

.breadcrumb-mobile li img {
  margin-left: 5px;
  vertical-align: middle;
  width: 10px;
}

.products-container {
  display: table;
  margin: 0 auto;
  padding: 5px 5px;
}

.product-item {
  display: table-cell;
  float: left;
  height: 300px;
  text-align: center;
  width: 180px;
}

.product-content {
  border: 1px solid #E83671;
  height: 100%;
  margin: 5px;
  position: relative;
}

.product-image {
  padding: 30px;
}

.thumb {
  margin-top: 30px;
}

.product-description {
  bottom: 0px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.product-image img {
  width: 90%;
}

.product-name {
  margin-bottom: 0px;
}

.product-price {
  color: #E83671;
  font-family: 'MerriweatherSans-Bold';
  margin-top: 10px;
}

.arrows {
  padding: 10px 10px;
}

.ul-arrows {
  margin: 0;
  padding: 0;
  display: flex;;
  justify-content: space-between;
}

.ul-arrows li {
  list-style: none;
}

.ul-arrows li a {
  color: #000;
  text-decoration: none;
  font-family: 'MerriweatherSans-Regular';
}

.ul-arrows li img {
  width: 12px;
  padding: 5px;
  vertical-align: middle;
}

.products-container {
  clear: both;
}

.footer {
  clear: both;
}

@media only screen and ( max-width: 767px ) {
  .breadcrumb-desktop {
    display: none;
  }

  .breadcrumb-mobile {
    display: block;
    text-align: right;
  }

  .breadcrumb-mobile li a{
    font-family: 'MerriweatherSans-Regular';
  }

  .product-item {
    display: block;
    height: 380px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
  }

  .product-hide {
    display: none;
  }

  .product-image img {
    width: 190px;
  }

}

@media only screen and ( min-width: 768px ) and ( max-width: 1023px ) {
  .breadcrumb-desktop {
    display: block;
  }

  .breadcrumb-mobile {
    display: none;
  }

  .product-item {
    display: block;
    height: 380px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 33.33%;
  }

  .product-image img {
    width: 190px;
  }

  .arrows-box {
    float: right;
    width: 200px;
  }

}

@media only screen and ( min-width: 1024px ) {
  .breadcrumb-desktop {
    display: block;
  }

  ul.breadcrumb li a {
    font-family: 'PlayfairDisplay-Bold';
  }

  .breadcrumb-mobile {
    display: none;
  }

  .product-item {
    display: block;
    height: 550px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 33.33%;
  }

  .product-image img {
    width: 260px;
  }

  .arrows-box {
    float: right;
    width: 300px;
  }
}
