@import url('/stylesheets/fonts.css');
html, body {
  margin: 0;
  padding: 0;
}
p {
  text-align: center;
}

.category-list {
  width: auto;
  margin:0;
  padding: 0;
  height: 300px;
  background-color: #FFFFFF;
  align-items: center;
}

.promotion {
  width: auto;
  margin:0;
  padding: 0;
  height: 300px;
  background-color: #F3F9EF;
  align-items: center;
}

.footer {
  width: auto;
  margin:0;
  padding: 0;
  height: 300px;
  background-color: #FFFFFF;
  align-items: center;
}

/*<MESSAGE SECTION>*/
.body-message {
  text-align: center;
  background: #F3F9EF;
  padding: 40px 20px;
}

h2 {
  letter-spacing: 3px;
  position: relative;
  margin-top: 20px;
}

h2.title {
  margin-top: 0;
}

h2.title:before {
  content: "";
  display: block;
  border-top: solid 1px #E83671;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

h2.title span {
  background: #F3F9EF;
  padding: 0 10px;
  position: relative;
  z-index: 5;
}

.text-message{
  font-family: "MerriweatherSans-Light";
  line-height: 2em;
  font-size: 22px;
}

.btn-call-action{
  font-family: 'PlayfairDisplay-Bold';
  width: 200px;
  padding: 10px 30px;
  font-size: 20px;
  background: transparent;
  color: #E83671;
  border: 3px solid #E83671;
  font-weight: bold;
}
/* </MESSAGE SECTION> */
@media only screen and ( max-width: 768px ) {
  /*<SearchBar> */
  .topnav {
    height: 90px;
  }

  .logo_fiorella {
    display: none;
  }

  .topnav .account-container {
    display: none;
  }

  .topnav .search-container {
    display: none;
  }

  .topnav .icon-bag-container {
    display: none;
  }

  .topnav .burger-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #E83671;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topnav .burger-menu .bag-container  {
    display: flex;
    align-items: center;
  }

  .topnav .burger-menu img {
    height: 30px;
  }

  .topnav .burger-menu i {
    font-size: 30px;
    color: white;
  }

  .topnav .burger-menu .bag-container span {
    margin-right: 15px;
    font-size: 25px;
    color: white;
  }

  .topnav .mobile-search-container {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: auto;
    border-bottom: 1px solid red;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .topnav .mobile-search-container input[type=text] {
    font-family: "MerriweatherSans-Light";
    font-size: 17px;
    border: none;
    background-color: white;
    color: black;
  }

  .topnav .mobile-search-container img {
    height: 25px;
    width: 25px;
  }

  /*<homeMenu>*/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:left;
  }

  .sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    font-family: "MerriweatherSans-Light";
    color: black;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover{
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #E83671;
  }

  .sidenav .mobile-search-container {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: auto;
    border-bottom: 1px solid red;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 8px;
  }

  .sidenav .mobile-search-container input[type=text] {
    font-family: "MerriweatherSans-Light";
    font-size: 17px;
    border: none;
    background-color: white;
    color: black;
  }

  .sidenav .mobile-search-container img {
    height: 25px;
    width: 25px;
  }

  .sidenav .mobile-navbar-container .line {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: auto;
    border-bottom: 1px solid #555555;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 8px;
  }

  .sidenav .mobile-account-container a {
    color: #E83671;
    font-size: 20px;
  }

  .sidenav .mobile-account-container .line {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: auto;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 8px;
  }

  .sidenav .mobile-info-container a {
    font-size: 20px;
  }

  /*</homeMenu>*/

  /*
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: right;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }*/


  /*</SearchBar> */

  /*<MESSAGE SECTION>*/
  .text-message{
    padding: 0px;
    line-height: 2em;
    font-size: 16px;
  }

  .image-message{
    width: 50%;
  }

  .btn-call-action{
    width: auto;
    font-size: 14px;
  }
  /*<MESSAGE SECTION>*/
}

@media only screen and ( min-width: 769px ) {
  .logo_fiorella {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: auto;
    opacity: 1;
  }

  .header {
    width: auto;
    margin:0;
    height: 700px;
    background-image: url("../images/home/header_background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .upper-row {
    background-color: #F3F9EF;
    opacity: 0.85;
    height: 300px;
    width: auto;
  }

  .sidenav {
    display: none;
  }

  /*<SearchBar> */
  .burger-menu {
    display: none;
  }

  .mobile-search-container {
    display: none;
  }

  .topnav {
    overflow: hidden;
    background-color: #F3F9EF;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 1px solid red;
    vertical-align: middle;
  }

  .topnav .account-container {
    margin-right: 150px;
  }

  .topnav div a {
    font-family: "MerriweatherSans-Light";
    font-size: 17px;
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav .search-container {
    display: flex;
    float: left;
  }

  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-family: "MerriweatherSans-Light";
    font-size: 17px;
    color: green;
    border: none;
    background-color: #F3F9EF;
    color: black;
  }

  .topnav .search-container img {
    width: 20px;
    height: 20px;
    padding-top: 13px;
    margin-right: 15px;
  }

  .topnav .icon-bag-container {
    margin-top: 6px;
    display: flex;
    float: right;
  }

  .topnav .icon-bag-container .dot {
    height: 35px;
    width: 35px;
    margin-right: 4px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topnav .icon-bag-container .dot span {
    color: white;
    font-family: "MerriweatherSans-Light";
    font-size: 20px;
  }

  .topnav .icon-bag-container img {
    height: 35px;
    width: 35px;
  }
  /*</SearchBar> */
}
