@import url('/stylesheets/fonts.css');
html, body {
  margin: 0;
  padding: 0;
}

p {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  margin:0;
  height: 700px;
  background-image: url("../images/home/header_background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.upper-row {
  background-color: #F3F9EF;
  opacity: 0.5;
  height: 50px;
  width: auto;
}
.body-message {
  text-align: center;
  background: #F3F9EF;
  padding: 40px 20px;
}
/*title-message*/
.title-message{
  overflow: hidden;
}
.title-message:before,.title-message:after {
  background-color: #E83671;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.title-message:before {
  right: 0.5em;
  margin-left: -50%;
}
.title-message:after {
  left: 0.5em;
  margin-right: -50%;
}

.text-message{
  font-family: "MerriweatherSans-Light";
  line-height: 32px;
  font-size: 22px;

}
.btn-call-action{
  font-family: 'PlayfairDisplay-Bold';
  width: 200px;
  padding: 10px 30px;
  font-size: 20px;
  background: transparent;
  color: #E83671;
  border: 3px solid #E83671;
  font-weight: bold;
}

.category-list {
  width: auto;
  margin:0;
  padding: 0;
  height: 300px;
  background-color: #FFFFFF;
  align-items: center;
}
.promotion {
  width: auto;
  margin:0;
  padding: 0;
  height: 300px;
  background-color: #F3F9EF;
  align-items: center;
}
/* footer */
.footer{
  padding: 15px 10px;
}
.social-media{
  border: 2px solid #E83671;
  text-align: center;
}
.box-footer-item{
  text-align: center;
}
.ul-footer{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.ul-footer li a {
  font-family: "MerriweatherSans-Regular";
  text-decoration:none;
  display: block;
  margin: 10px;
  color: #000;
}
.ul-footer li a:hover{
  color: #E83671;
  font-weight: bold;
}
.ul-social{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
.title-footer{
  color: #E83671;
  text-align: center;
  font-family: "PlayfairDisplay-Bold";
}
.social-media li{
  float: left;
}
.social-media li a {
  display: block;
  margin: 10px;
}
.icon_facebook, .icon_pinterest,.icon_gplus{
  width: 40px;
  height: 40px;
}
.icon_facebook{
  background-image: url('../images/home/icon_facebook.png');
  background-size: 40px;
  background-repeat: no-repeat;
}
.icon_pinterest{
  background-image: url('../images/home/icon_pinterest.png');
  background-size: 40px;
  background-repeat: no-repeat;
}
.icon_gplus{
  background-image: url('../images/home/icon_gplus.png');
  background-size: 40px;
  background-repeat: no-repeat;
}
.icon_facebook:hover{
  background-image: url('../images/home/bicon_facebook.png');
  background-size: 40px;
}
.icon_pinterest:hover{
  background-image: url('../images/home/bicon_pinterest.png');
  background-size: 40px;
}
.icon_gplus:hover{
  background-image: url('../images/home/bicon_gplus.png');
  background-size: 40px;
}
/* end footer*/
@media only screen and ( max-width: 768px ) {
  /* footer */
  .footer_fiorella,.footer_info,.footer_contact{
    display: none;
  }
  /* end footer */
}
@media only screen and ( min-width: 769px ) and ( max-width: 1023px ){
  /* footer */
  .footer_fiorella,.footer_info,.footer_contact{
    display: block;
  }
  .box-footer{
    display: flex;
    justify-content: space-around;
    border: 2px solid #E83671;
  }
  .social-media{
    border: 0px;
  }
  .ul-social li{
    text-align: center;
  }
  /*end footer*/
}
@media only screen and ( min-width: 1024px ){
  /* footer */
  .box-footer{
    display: flex;
    justify-content: space-around;
    border: 2px solid #E83671;
    padding-bottom: 20px;
  }
  .social-media{
    border: 0px;
  }
  /*end footer*/
}
