.breadcrumb {
  font-family: $font-navbar;
  margin: 10px 10px 50px 10px ;
  text-transform: uppercase;

  a {
    color: $color-black-solid;
    text-decoration: none;
  }

  .current-route {
    font-weight: $font-weight-bold;
  }
}
