.category-product-list {
  height: 100%;
  padding: 60px 10px;
  position: relative;
  width: 100%;
}

.category-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media #{ $tablet }, #{ $desktop } {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
  }
}

.category-item {
  margin: 5px 0;
  text-align: center;

  .category-title {
    display: none;
    font-family: $playfair-display;

    @media #{ $tablet } {
      display: block;
      font-size: 18px;
    }

    @media #{ $desktop } {
      display: block;
      font-size: 22px;
    }
  }

  .category-description {
    display: none;
    font-family: $merriweathersans;
    @media #{ $tablet } {
      display: block;
      font-size: 16px;
    }

    @media #{ $desktop } {
      display: block;
      font-size: 23px;
    }
  }

  @media #{ $tablet }, #{ $desktop } {
    margin: 0 15px;
  }
}

.category-content-image {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 2;

  .category-image-item {
    background: $cerise-red-hover;
    height: 100%;
    object-fit: cover;
    width: 100%;

    @media #{ $tablet }, #{ $desktop } {
      height: 100%;
      width: 100%;
    }
  }

  .category-title-mobile {
    position: absolute;
    top: 60px;

    a {
      color: $font-color-white;
      font-family: $playfair-display;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
    }

    @media #{ $tablet }, #{ $desktop } {
      display: none;
    }
  }

  .overlay {
    background-color: $cerise-red-hover;
    bottom: 0;
    height: 100%;
    position: absolute;
    width: 100%;

    @media #{ $tablet }, #{ $desktop } {
      display: none;
    }
  }

  .btn-shop {
    display: none;
    font-family: $playfair-display;
    font-size: 22px;
    font-weight: bold;
    padding: 15px 32px;
    position: absolute;
    text-align: center;
    text-decoration: none;

    @media #{ $tablet } {
      @include hover-categories($border-color-white, 2px, $font-color-white, 16px, 48px, 166px);
    }

    @media #{ $desktop } {
      @include hover-categories($border-color-white, 2px, $font-color-white, 23px, 61px, 211px);
    }
  }

  @media #{ $tablet }, #{ $desktop }  {
    height: auto;
    width: 100%;

    &:hover {
      .btn-shop {
        display: block;
      }

      .overlay {
        display: block;
      }
    }
  }
}

.border-box {
  border: 2px solid $cerise-red;
  bottom: 60px;
  display: none;
  left: 20px;
  position: absolute;
  right: 20px;

  @media #{ $tablet } {
    display: block;
    height: 250px;
  }

  @media #{ $desktop }  {
    display: block;
    height: 350px;
  }
}
