/*================ Site Header ================*/
.homepage-logo {
  display: none;
}

.navbar {
  display: none;
}

.desktop-btn-search {
  display: none;
}

.header-buttons-container {
  display: none;
}

.menu-container {
  background-color: $color-white-solid;
  font-family: $font-menu-header;
  height: 100%;
  overflow-x: hidden;
  position: fixed;
  transition: 0.5s;
  width: 0;
  z-index: 2;

  a {
    color: $color-black-solid;
    font-size: 25px;
    text-decoration: none;
  }

  @include reset-ul(block);
}

.show-menu {
  padding: 0 20px;
  width: 100%;
}

.menu-top-section {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  position: relative;

  .menu-close {
    @extend %positioning;
    justify-content: flex-end;
  }

  button {
    background-color: transparent;
    border-style: none;
  }
}

.search-container {
  border-bottom-color: $color-featured;
  border-bottom-style: solid;
  margin: 20px 0 5px;
  padding-bottom: 5px;

  form {
    display: flex;
    justify-content: space-between;
  }

  .desktop-btn-search {
    display: none;
  }

  button {
    @extend %transparent-button;
    padding-right: 0;
  }

  input {
    background-color: transparent;
    border-style: none;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    width: calc(100% - 20px);
  }

  ::placeholder {
    color: $color-black-solid;
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: $color-black-solid;
  }

  ::-ms-input-placeholder {
    color: $color-black-solid;
  }
}

.mobile-nav {
  border-bottom-color: $color-black-solid;
  border-bottom-style: solid;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-bottom: 10px;

  a {
    text-transform: uppercase;
  }
}

.mobile-user-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  a {
    color: $color-featured;
  }
}

.mobile-info-buttons {
  margin-top: 10px;
}

.mobile-top-section {
  display: flex;
  align-items: center;
  background-color: $color-featured;
  height: 40px;
  justify-content: center;
  position: relative;

  button {
    @extend %transparent-button;
  }

  p {
    background-color: $color-featured;
    border-radius: 50%;
    border-style: none;
    color: $color-white-solid;
    display: inline;
    padding: 4px 10px;
  }

  .header-cart-button {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    position: absolute;
    right: 5px;

    img {
      height: 25px;
      width: auto;
    }
  }

  .cart-item-count {
    display: inline;
    font-size: 14px;
    margin: 0;
  }

  img {
    width: 100%;
  }
}

.home-screen-mobile-search {
  margin: 10px 8px 0;
}

.menu-open {
  justify-content: flex-start;
  position: absolute;
  left: 5px;
  z-index: 1;
}

@media #{$tablet-view} {

  .show-menu {
    padding: 0;
    width: 0;
  }

  .mobile-top-section {
    display: none;
  }

  .header-container {
    position: relative;
  }

  .desktop-header {
    background-color: $color-header-bg;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .top-bar {
    display: flex;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-color: $color-featured;
    font-family: $font-header;
    z-index: 1;

    @include reset-ul(inline);
  }

  .search-container {
    flex: 1;
    border-bottom-style: none;

    form {
      display: inline;
    }

    input {
      outline: none;
      width: calc(100% - 40px);
    }

    .desktop-btn-search {
      display: inline;
    }

    .mobile-btn-search {
      display: none;
    }
  }

  .header-buttons-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;

    a {
      color: $color-black-solid;
      margin-right: 20px;
      text-decoration: none;
    }
  }

  .header-cart-button {
    display: flex;
    align-items: center;
    margin-left: 10px;

    p {
      background-color: $color-featured;
      border-radius: 50%;
      border-style: none;
      color: $color-white-solid;
      display: inline;
      margin: 0 5px;
      padding: 4px 10px;
    }

    img {
      height: 25px;
    }
  }

  .homepage-logo {
    display: flex;
    height: 70px;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
    width: 100%;

    img {
      height: 100%;
    }
  }

  .navbar {
    display: flex;
    font-family: $font-navbar;
    font-size: 15px;
    justify-content: center;
    margin-bottom: 10px;
    padding: 0 100px;
    text-transform: uppercase;

    a {
      color: $color-black-solid;
      text-decoration: none;
      text-align: justify;

      &:hover {
        color: $color-featured;
        font-weight: 900;
      }
    }

    @include reset-ul(flex);
  }

  .navbar-container {
    display: flex;
    width: 100%;
  }

  .navbar-element-container {
    align-items: center;
    flex: 1;
    justify-content: center;
    position: relative;
  }

  .navbar-separator {
    color: $color-featured;
    font-size: 20px;
    position: absolute;
    right: 0;
  }
}

@media #{$large-desktop-view} {

  .homepage-logo {
    height: 100px;
  }

  .navbar {
    font-size: 20px;
  }

  .navbar-separator {
    font-size: 40px;
  }
}
