<!doctype html>
<!--
padding: 40px 20px;

-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div class="container">
      <div id="mySidenav" class="sidenav">
        <!--<a href="#" class="closebtn" onclick="closeNav()">&times;</a>-->
        <i class="fas fa-bars closebtn" onclick="closeNav()"></i>
        <div class="mobile-search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="SEARCH" name="search">
          </form>
          <img src="../images/home/icon_lens.png" alt="lens">
        </div>
        <div class="mobile-navbar-container">
          <a href="#">BOUQUETS</a>
          <a href="#">BOUTONNIERES</a>
          <a href="#">CENTERPIECES</a>
          <a href="#">CEREMONY</a>
          <div class="line"></div>
        </div>
        <div class="mobile-account-container">
          <a href="#">LOG IN</a>
          <a href="#">CREATE ACCOUNT</a>
          <a href="#">CONTACT</a>
          <div class="line"></div>
        </div>
        <div class="mobile-info-container">
          <a href="#">ABOUT US</a>
          <a href="#">FAQ</a>
        </div>
      </div>
      <header class="header">
        <div class="upper-row">
          <div class="topnav">
            <div class="burger-menu">
              <i class="fas fa-bars" onclick="openNav()"></i>
              <img src="../images/home/wlogo_fiorella_mobil.png" alt="bag">
              <div class="bag-container">
                <span>8</span>
                <img src="../images/home/wicon-bag.png" alt="bag">
              </div>
            </div>
            <div class="mobile-search-container">
              <form action="/action_page.php">
                <input type="text" placeholder="SEARCH" name="search">
              </form>
              <img src="../images/home/icon_lens.png" alt="lens">
            </div>
            <div class="search-container">
              <img src="../images/home/icon_lens.png" alt="lens">
              <form action="/action_page.php">
                <input type="text" placeholder="SEARCH" name="search">
              </form>
            </div>
            <div class="icon-bag-container">
              <div class="dot"><span>8</span></div>
              <img src="../images/home/icon_bag.png" alt="bag">
            </div>
            <div class="account-container">
              <a href="#about">LOG IN</a>
              <a href="#contact">CREATE ACCOUNT</a>
            </div>
          </div>
          <div class="logo_fiorella">
            <img src="../images/home/logo_fiorella.png" alt="fiorella">
          </div>
        </div>

        <div class="nav-bar">
        </div>
      </header>

      <section class="body-message">
        <div class="title-message">
          <h2 class="title">
              <span>ALWAYS FRESH</span>
          </h2>
        </div>
        <div class="box-image-message">
          <img class="image-message" src="/images/home/complementary_image_home_mobil@2x.png" alt="complementary image">
        </div>
        <div class="p-message">
          <p class="text-message">We promise to always deliver fresh flowers and we guarantee the highest quality. Supported by our excellent express delivery mechanism we have the best delivery times on the day of your event, feel safe that your arrangements will be on time. Find a store you!</p>
        </div>
        <button type="button" class="btn-call-action">READ MORE</button>
      </section>

      <section class="category-list">
        <p class="text">Category List</p>
      </section>

      <section class="promotion">
        <p class="text">Promotion</p>
      </section>

      <footer class="footer">
        <p class="text">Footer</p>
      </footer>
      <!--
      <%= yield %>
      -->
    </div>
  </body>
</html>
