<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "styles" %>
  </head>
  <body>
    <div class="container">
      <header class="header" >

        <div class="upper-row">
        </div>

        <img src="../images/home/logo_fiorella.png" alt="fiorella" id="logo_fiorella">
      </header>

      <section class="body-message">
        <p class="text">Body Message</p>
      </section>

      <section class="category-list">
        <p class="text">Category List</p>
      </section>

      <section class="promotion">
        <p class="text">Promotion</p>
      </section>

      <footer class="footer">
        <p class="text">Footer</p>
      </footer>
      <!--
      <%= yield %>
      -->
    </div>
  </body>
</html>
