.banner-section {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  background: linear-gradient(90deg,
    rgba(200, 190, 183, 1),
    rgba(200, 190, 183, 1) 30%,
    rgba(200, 190, 183, 1) 30%,
    rgba(200, 190, 183, 0));
  color: $color-white;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  text-align: center;
  width: 50%;

  p {
    font-family: $Lato;
    margin-left: 80px;
    padding-right: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .banner-content {
    display: none;
  }
}
