---
title: Lil Peep
---

<section class="featured-products">
  <div class="product">
    <h1>FEATURED TOYS</h1>
    <label>NEW</label>
    <img src="images/bear_toy.png" alt="Clown Bear Toy">
    <img src="images/arrow_left.png" alt="Arrow left">
    <img src="images/arrow_right.png" alt="Arrow right">
    <p>Clown Bear - Plush Circus Series</p>
    <p>$10 USD</p>
    <button type="button" name="view-button">VIEW</button>
  </div>
</section>
