---
title: Featured kit
---

<section class="featured-kits">
  <div class="flex-grid">
    <div class="col big-banner">
      <div class="big-banner-content">
        <h1>TREASURE ISLAND</h1>
        <p>Your kid is an adventurer, ennui, church-key organic small batch kitsch selfies ugh PBR Godard.  </p>
        <button type="button" name="button">CHECK IT OUT!</button>
      </div>
    </div>
    <div class="col small-banner">
      <h3>SEASON CLERANCE</h3>
      <h1>ALL KITS</h1>
      <h1>50% OFF</h1>
    </div>
  </div>
</section>
