---
title: Lil Peep
---

<section class="featured-products">
  <h2>FEATURED TOYS</h2>
  <div class="featured-products-list">
    <div class="product-card first-product-card">
      <div class="products-slider">
        <div class="front-label">
          <p>NEW</p>
        </div>
        <div class="slider-navigator slider-navigator-left">
          <button id="leftArrow">
            <img src="images/arrow_left.png" alt="Arrow left">
          </button>
        </div>
        <div class="product-image">
          <img id="featuredToy" src="images/bear_toy.png" alt="Clown Bear Toy">
        </div>
        <div class="slider-navigator slider-navigator-right">
          <button id="rightArrow">
            <img src="images/arrow_right.png" alt="Arrow right">
          </button>
        </div>
      </div>
      <div class="product-data">
        <p>Clown Bear - Plush Circus Series</p>
        <div class="price">
          <p class="price">$5 USD</p>
          <p class="offer">$10 USD</p>
        </div>
        <button type="button" name="view-button">VIEW</button>
      </div>
    </div>
    <div class="product-card">
      <div class="products-slider">
        <div class="front-label">
          <p>NEW</p>
        </div>
        <div class="slider-navigator slider-navigator-left">
          <a href="#" onclick="changeImage(-1)">
            <img src="images/arrow_left.png" alt="Arrow left">
          </a>
        </div>
        <div class="product-image">
          <img id="featuredToy" src="images/train_toy.png" alt="Little Wagon Toy">
        </div>
        <div class="slider-navigator slider-navigator-right">
          <a href="#" onclick="changeImage(1)">
            <img src="images/arrow_right.png" alt="Arrow right">
          </a>
        </div>
      </div>
      <div class="product-data">
        <p>Little Wagon</p>
        <p class="price">$12 USD</p>
        <button type="button" name="view-button">VIEW</button>
      </div>
    </div>
    <div class="product-card">
      <div class="products-slider">
        <div class="front-label">
          <p>NEW</p>
        </div>
        <div class="slider-navigator slider-navigator-left">
          <a href="#" onclick="changeImage(-1)">
            <img src="images/arrow_left.png" alt="Arrow left">
          </a>
        </div>
        <div class="product-image">
          <img id="featuredToy" src="images/plane_toy.png" alt="Wright's Plane">
        </div>
        <div class="slider-navigator slider-navigator-right">
          <a href="#" onclick="changeImage(1)">
            <img src="images/arrow_right.png" alt="Arrow right">
          </a>
        </div>
      </div>
      <div class="product-data">
        <p>Wright's Plane</p>
        <p class="price">$16 USD</p>
        <button type="button" name="view-button">VIEW</button>
      </div>
    </div>
    <div class="product-card new-product">
      <div class="products-slider">
        <div class="front-label">
          <p>NEW</p>
        </div>
        <div class="slider-navigator slider-navigator-left">
          <a href="#" onclick="changeImage(-1)">
            <img src="images/arrow_left.png" alt="Arrow left">
          </a>
        </div>
        <div class="product-image">
          <img id="featuredToy" src="images/ship_toy.png" alt="Yellow Boat">
        </div>
        <div class="slider-navigator slider-navigator-right">
          <a href="#" onclick="changeImage(1)">
            <img src="images/arrow_right.png" alt="Arrow right">
          </a>
        </div>
      </div>
      <div class="product-data">
        <p>Yellow boat</p>
        <p class="price">$20 USD</p>
        <button type="button" name="view-button">VIEW</button>
      </div>
    </div>
  </div>
</section>
