---
title: Lil Peep
---

<section class="featured-products">
  <h2>FEATURED TOYS</h2>
  <div class="products-slider">
    <div class="front-label">
      <p>NEW</p>
    </div>
    <div class="slider-navigator slider-navigator-left">
      <a href="#" onclick="changeImage(-1)">
        <img src="images/arrow_left.png" alt="Arrow left">
      </a>
    </div>
    <div class="product-image">
      <img id="featuredToy" src="images/bear_toy.png" alt="Clown Bear Toy">
    </div>
    <div class="slider-navigator slider-navigator-right">
      <a href="#" onclick="changeImage(1)">
        <img src="images/arrow_right.png" alt="Arrow right">
      </a>
    </div>
  </div>
  <div class="product-data">
    <p>Clown Bear - Plush Circus Series</p>
    <p class="price">$10 USD</p>
    <button type="button" name="view-button">VIEW</button>
  </div>
</section>
