---
title: Featured kit
---

<section class="featured-kits">
  <div class="flex-grid">
    <div class="big-banner">
      <div class="big-banner-content">
        <h1>TREASURE ISLAND</h1>
        <p>Your kid is an adventurer, ennui, church-key organic small batch kitsch selfies ugh PBR Godard.  </p>
        <button type="button" name="button"><h1>CHECK IT OUT!</h1></button>
      </div>
    </div>
    <div class="small-banner">
      <h3>SEASON CLERANCE</h3>
      <div class="big-text">
        <h1>ALL KITS</h1>
        <h1>50% OFF</h1>
      </div>
    </div>
    <div class="mid-banner mid-banner-sailor">
      <div class="mid-banner-content">
        <h3>SAILORS & PIRATES KIT</h3>
        <p>Your kid is an adventurer, ennui, church-key organic small batch kitsch selfies ugh PBR Godard.  </p>
        <button type="button" name="button"><h1>SEE KIT</h1></button>
      </div>
    </div>
    <div class="mid-banner mid-banner-archeologist">
      <div class="mid-banner-content">
        <h3>ARCHEOLOGIST KIT</h3>
        <p>This awesome kit includes ennui, church-key organic small batch kitsch selfies ugh PBR Godard.</p>
        <button type="button" name="button"><h1>SEE KIT</h1></button>
      </div>
    </div>
  </div>
</section>
