<div class="a">
  <!-- Fotografias -->
  <div class="half-left">
    <div class="history">
      <a href="#" class="next main"><p>HOME</p></a>
      <img src="/images/arrow_right.png" alt="path" class="next">
      <a href="#" class='next category' ><p>WOODEN TOYS</p></a>
      <img src="/images/arrow_right.png" alt="Path" class="next">
      <a href="#" class="next selection"><p>DALMATIAN DOG</p></a>
    </div>
    <div class="super-product">
      <div class="box-product">
        <div class="front-label"><p>NEW</p></div>
        <img src="/images/bear_toy.png" alt="bear" class="product" id="product">
      </div>
      <div class="box-micro">
        <a href="#" onclick="selectimage('oso')"><img src="/images/bear_toy.png" alt="bear" class="view"></a>
        <a href="#" onclick="selectimage('avion')"><img src="/images/plane_toy.png" alt="airplane" class="view"></a>
      </div>
    </div>
  </div>
  <div class="half-right">
    <div class="info">
      <div class="name"><p>DALMATIAN DOG</p></div>
      <div class="price"><p>$10 USD</p></div>
    </div>
      <!-- Cantidad -->
    <div class="box-quantity">
      <p class='quantity'>Quantity: </p>
      <select size="number" name="box">
        <option value="1">1</option>
        <option value="1">2</option>
        <option value="1">3</option>
        <option value="1">4</option>
        <option value="1">5</option>
      </select>
    </div>
      <!-- Add to car -->
    <div class="contenedor-add">
      <a href="#"><div class="add"><p>ADD TO CART</p></div></a>
    </div>

      <p class="shipping">*FREE SHIPPING FOR ALL THE ORDERS INSIDE THE U.S</p>
      <!-- Description -->
      <div class="description">
        <p class="preview">DESCRIPTION</p>
        <p class='review'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia
          m, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
          non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          .</p>
        </div>
        <!--Show less  -->
        <div class="show-less">
          <a href="#"><p>LESS</p>
            <img src="/images/arrow_up.png" alt="less">
          </a>
        </div>
    </div>
  </div>
  <!-- Informacion -->

<%= partial 'partials/products-list' %>
<div class="banner_handcrafted">
  <div class="banner_content">
    <div class="banner_description">
      <h3>HAND CRAFTED</h3>
      <p>We attempt tp bring back the good old days when children would play fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula  </p>
    </div>
  </div>
</div>

<%= javascript_include_tag 'related_products' %>
