<div class="left-side">
  <div class="super-product">
    <div class="box-product">
      {% if featured_img != blank %}
      <img src="{{ featured_img | img_url :'720x720' }}" alt=" {{ featured_img.alt | escape}}" data-product-featured-image>
      {% endif %}
    </div>
    {%- include 'thumbnail' -%}
  </div>
</div>
