<div class="mobile">
  {% paginate collection.products by 4 %}
    {%- include 'body-collection' -%}
  {% endpaginate %}
</div>

<div class="desktop">
  {% paginate collection.products by 12 %}
    {%- include 'body-collection' -%}
  {% endpaginate %}
</div>
