/*================ About us ================*/
.about-us--title{
  text-transform: uppercase;
  font-weight:bold;
  border-bottom: 2px solid #979797;
  padding-bottom: 20px;
}
// Mobile

.site-logo {
  display: block;

  img {
    display: block;
    width: 100%;
  }
}
.logo-footer {
  background: url('../assets/sprite.png') no-repeat -103px -363px;
  width: 40px;
  height: 25px;
  display: inline-block;
}
.icon-facebook {
  background: url('../assets/sprite.png') no-repeat -61px -273px;
  width: 12px;
  height: 24px;
}
.icon-twitter {
  background: url('../assets/sprite.png') no-repeat -116px -277px;
  width: 19px;
  height: 16px;
}
.icon-google {
  background: url('../assets/sprite.png') no-repeat -178px -274px;
  width: 21px;
  height: 22px;
}
.margin-theme {
  margin: 0px 2% 0px;
  height: 153px;
  bottom: 0;
}
.icon-footer{
 width: 12px;
}
.copy-right {
  padding: 16px 4px 10px 4px;
  border-top: solid #888888 2px;
  font-size: 14pt;
  color: #888888; 
}
@include media-query($medium-up) {
  .margin-theme {
    margin: 0px  2%x 0px;
    bottom: 0px;
  }
}
