.products-container {
  .product-item-grid {
    background: $color-light-blue;
    color: $color-gray;
    display: block;
    overflow: hidden;
    padding: 10px 15px;
    margin: 0 0 8px 0;
    width: 100%;

    .product-item__image {
      padding: 10px;
      height: 350px;
      vertical-align: middle;

      img {
        align-self: center;
        margin: 5px auto;
        display: block;
        line-height: 350px;
        max-height: 100%;
        max-width: 100%;
      }
    }

    .product-item__name {
      font-size: 24px;

      a {
        color: $color-gray;
      }
    }

    .product-item__sku {
      font-weight: lighter; 
      font-size: 14px;
      text-transform: uppercase;
      display: block;
    }

    .product-item__price {
      font-size: 20px;
      font-weight: lighter;
      margin-bottom: 10px;
    }

    .details {
        display: block;
        margin: 10px 0;

        a {
          color: $color-pink;
        }
    }

    .rte {
      margin: 15px 0 50px 0;
    }
  }

  .product-item-details {
     @extend .product-item-grid;
     padding-bottom: 30px;
  }
} 

// Tablet version 
@include media-query($medium-up) {
  .products-container {
    .product-item-grid {
      display: inline-block;
      width: 245px;
      min-width: 245px;
      max-width: 245px;
    }

    .product-item-details {
      min-height: 450px;
      width: 100%;
      display: block;
      padding: 0 0 30px 0;
      max-width: 100%;

      .product-item__image {
        display: inline-block;
        height: 450px;
        max-height: 450px;
        vertical-align: top;
        width: 27%;
      }

      .product-images {
        display: inline-block;
        height: 450px;
        line-height: 450px;
        margin: 0 auto;
        text-align: center;
        vertical-align: top;
        width: 20%;
        
        ul {
          height: 100%;
          padding: 0;

          li {
            display: block;
            list-style: none;
            height: 51px;
            padding: 0;
            margin: 5px 0;
            
            img {
              margin: 30px 0;
              max-height: 64px;
              max-width: 64px;
            }
          }
        }
      }

      .product-info {
        display: inline-block;
        vertical-align: top;
        width: 50%;
      }

     }
  } 
}

// Desktop version 
@include media-query($large-up) {
  .products-container {
    .product-item-grid {
      width: 228px;
      min-width: 228px;
      max-width: 228px;
    }

    .product-item-details {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }
  }
}

// Widescreen version 
@include media-query($widescreen) {
  .products-container {
    display: flex;
    justify-content: space-between;
    
    .product-item-grid {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }
  }
}