.drawer {
    display: none;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 1000;
    top: 0;
    bottom: 0;
    width: 18.75em;
    max-width: 100%;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;
    font-size: 1.14286em;
    font-family: ShopifySans, Helvetica, Arial, sans-serif
}

// @media screen and (prefers-reduced-motion: reduce) {
//     .drawer {
//         -webkit-transition: none;
//         transition: none;
//         -webkit-animation: none;
//         animation: none
//     }
// }

.js-drawer-open .drawer {
    display: block;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.drawer .marketing-nav__logo__shopify {
    margin-top: 0
}

.drawer--left {
    width: 300px;
    left: -300px;
}

.drawer--left,
.drawer--right {
    top: 0;
    max-width: 95%;
}

.drawer--left {
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%)
}

.drawer--right {
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%)
}

.drawer--powered-by-shopify .drawer__items--primary {
    padding-top: 0;
    border-top: 0
}

.drawer__inner {
    position: relative;
    min-height: 100%;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px
}

// @media screen and (max-width: 67.4375em) {
//     .drawer__inner .marketing-form__button {
//         width: 100%
//     }
// }

.drawer__top {
    position: relative;
    height: 60px;
    padding-top: 15px;
    padding-bottom: 15px
}

.drawer__close-button {
    display: block;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    padding: 10px;
    fill: #212b35;
    position: absolute;
    top: 50%;
    right: -10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.drawer__close-button .icon {
    width: 100%;
    height: 100%
}

.drawer__items {
    padding-top: 15px;
    border-top: 1px solid #dfe3e8
}

.drawer__items+.drawer__items {
    margin-top: 15px
}

.drawer__items--nested {
    margin-bottom: 15px;
    padding-top: 0;
    border-top: 0;
    border-left: 1px solid #dfe3e8
}

.drawer__item {
    display: block;
    width: 100%;
    color: #454f59;
    font-size: 1em;
    font-weight: 500;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    text-align: left;
    line-height: 1;
    -webkit-transition: color 300ms;
    transition: color 300ms
}

.drawer__item:hover,
.drawer__item:focus {
    color: #000000
}

.drawer__item.active {
    color: #000000;
    font-weight: 500
}

.drawer__items--nested .drawer__item {
    margin-left: -1px;
    padding-left: 1.0625em;
    border-left: 3px solid transparent
}

.drawer__items--nested .drawer__item.active {
    border-left-color: currentColor
}

.drawer__items--corporate .drawer__item {
    color: #919ea9;
    font-weight: 500
}

.drawer__items--corporate .drawer__item:hover,
.drawer__items--corporate .drawer__item:focus {
    color: #000000
}

.drawer__items--corporate .drawer__item.active {
    color: #000000;
    font-weight: 500
}

.drawer__item--primary {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px
}

.drawer__item--primary,
.drawer__item--primary a {
    color: #000000
}

.drawer__item--primary:hover,
.drawer__item--primary:focus {
    color: #000000
}

.drawer__item--primary.active {
    color: #000000;
    font-weight: 700
}

.drawer__item--primary .marketing-nav__arrow {
    vertical-align: 20%;
    margin-left: 0.35714em
}

.drawer__item--signup {
    color: #5c6ac4;
    border: 0;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0
}