/*================ Site Header ================*/
header {
  
  height: auto;
  margin-bottom: 10px;

  .header-first-line {
    background-color: $color-dark;
    height: 40px;
    margin: 0;
  }

  .header-section-user {
    text-align: right;
    line-height: 40px;
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    ul {
      li {
        list-style: none;
        display: inline-block;
        margin-right: 15px;
        text-transform: uppercase;
      }
    }
  }

  .header-section-nav {
    padding: 5px 0 0 15px;

    .icon-hamburger {
      fill: $color-pink;
      width: 30px;
      height: 30px;
    }
  }

  .header-section-cart {
    color: white;
    text-align: right;
    padding-right: 15px;
    font-size: 1.5rem;


    .icon-cart {
      width: 30px;
      height: 30px;
      fill: white;
    }
  }

  .header-section-icon {
    display: inline-block;
    text-align: center;
    height: 25px;

    h1 {
      margin: 6px 0;
      display: inline-block;
    }

  }

  .header-second-line {
    background: #fff;
    font-size: 14px;

     @include media-query($medium-up) {
       margin: 40px 0 0 0;
     }
  }

  .header-section-medium-cart {
    color: black;
    display: inline-block;
    padding-right: 15px;
    text-align: right;

    a {
      color: black;
    }

    .icon-cart {
      width: 30px;
      height: 30px;
      fill: black;
    }

    @include media-query($medium-up) {
      float: right; 
    }
  }

  .site-logo {
    display: block;

    img {
      display: block;
      width: 100%;
    }

    @include media-query($medium-up) {
      margin: 0 0 0 15px;
      padding: 0;
      line-height: 22px;

      img {
        height: 22px;
        width: auto;
        display: inline-block;
      }
    }

    @include media-query($large-up) {

      img {
        height: 33px;
      }
    }
  }

  .site-logo-tablet {
    img {
      height: 40px;
    }
  }

  .header-main-nav {
    list-style: none;
    padding-top: 10px;
    font-size: 14px;

    li {
      display: inline-block;
      margin-left: 20px;
      text-transform: uppercase;
    }

    @include media-query($large-up) {
      font-size: 16px;
      padding-top: 12px;

      li {
        margin-left: 54px;
      }
    }

    @include media-query($widescreen) {
      font-size: 18px;
    }

  }

}

.search-form {

  input {
    background-color: none;
    background-position: right;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid $color-light-gray;
    color: $color-light-gray;
    font-size: 14px;
    margin: 15px 0;
    height: 35px;
    outline: none;
  }

  button {
    background-color: transparent;
    color: $color-gray;
    outline: none;
    padding: 15px 0 0 0;
    position: absolute;
    right: 3px;
    top: 2px;
    z-index: 999;
    height: 30px;
    width: 34px;
    border: none;

    .icon {
      color: $color-gray;
      font-size: 1.5rem;
      height: 19px;
      width: 19px;
    }
  }

  @include media-query($medium-up) {
    border: none;

    input {
      border: none;
      margin-top: 0px;
      width: 20px;
      display: inline-block;
    }

    input::placeholder {
      color: white;
    }

    button {
      padding: 0;
    }
  }

  @include media-query($large-up) {

    input {
      border-bottom: 3px solid $color-light-gray;
    }

    input::placeholder {
      color: $color-light-gray;
      ;
    }

  }

  @include media-query($widescreen) {
    input {
      font-size: 16px;
    }
  }
}