/*==============================  cart ===================================*/
.cart--title{
  text-transform: uppercase;
  font-weight:bold;
  font-size: 24px;
  border-bottom: 2px solid #979797;
  padding-bottom: 20px;

}
.cart--main-container{
  display: flex;
  flex-direction: column;
}
.cart--container{
  display: flex;
  background: #eef2f5;
  margin-bottom: 10px;
  height: 150px;
}
.cart--item{
  color: black;
}
.cart--img{
 img{
   height: 75%;
  margin-left: auto;
  margin-right: auto;
 }
}
.cart--item-two{
  display: flex;
  flex-direction: column;
  width: 75%;
  .cart--item-sku{
    font-size: 14px;
    font-weight: normal;
  }
}
.cart--item-title{
  font-weight: bold;
  font-size: 20px;
  width: 90%;
  color: #4A4A4A;
  border-bottom: 1px #979797 solid;
}
.cart--item-one{
  width: 25%;
}
.cart--container-three{
  flex-direction: row;
  &:nth-child(3) div{
  padding-right: 20px;
  }
}
