.banner_handcrafted {
  display: none;
}

@media only screen and ( min-width: 768px) {
  .banner_handcrafted {
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url("../images/carving-w-butcher-gouge.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 80%;
    display: block;
    font-family: 'Lato', sans-serif;
  }
  .banner_content {
    color: white;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
    text-align: center;
    width: 55%;
  }
  .banner_content p {
    margin-left: 20px;
    margin-right: 20px;
  }
  .banner_description {
    width: 80%;
  }
  .banner_handcrafted .banner_content {
    background: linear-gradient(90deg, rgba(200, 190, 183), rgba(200, 190, 183, 1) 40%, rgba(200, 190, 183, 1) 80%, rgba(200, 190, 183, 0));
  }
}