/*Starts MOBILE*/
.banner_handcrafted {
  display: none;
}

.next {
  display: none;
}

.shipping {
  display: none;
}

.front-label {
  display: none;
}

.front-label p {
  font-family: 'Lato', sans-serif;
}

.super-product {
  display: block;
  justify-content: center;
}

.box-micro {
  display: flex;
  justify-content: center;
}

.box-micro .view {
  height: 60px;
  object-fit: contain;
  width: 60px;
}

.box-product {
  display: flex;
  height: 300px;
  width: 100%;
}

.box-product .product {
  height: 100%;
  justify-content: center;
  object-fit: contain;
  width: 100%;
}

.info {
  display: block;
  text-align: center;
  width: 100%;
}

.box-quantity {
  display: flex;
  font-family: 'Oswald';
  justify-content: center;
  margin-bottom: 20px;
}

.box-quantity p {
  color: #627387;
  display: block;
  font-family: 'Lato';
  text-align: center;
  width: 50%;
}

.info .name p {
  color: #627387;
  font-family: 'Lato';
  font-size: 20px;
}

.info .price p {
  color: #954180;
  font-family: 'Lato';
  font-size: 25px;
}

.contenedor-add {
  background-color: #4A90E2;
  border-radius: 3px;
  width: 100%;
}

.contenedor-add .add {
  align-items: center;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  width: 95%;
}

.contenedor-add .add p {
  color: #FFFFFF;
  font-family: "Oswald";
  font-size: 18px;
  font-style: normal;
}

.contenedor-add a {
  text-decoration: none;
}

.description {
  font-family: 'Lato';
  font-size: 18px;
  text-align: center;
}

.description .review {
  font-family: 'Oswald';
}

.show-less {
  align-content: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.show-less a {
  text-decoration: none;
}

.show-less p {
  color: #4990e0;
  display: inline-block;
  font-family: 'Oswald';
  font-weight: bold;
  text-decoration: none;
  width: 50%;
}

.show-less img {
  align-self: flex-end;
  display: inline-flex;
  height: 13px;
  margin-left: 6px;
  width: 13px;
}

/*Starts DESKTOP*/

@media only screen and (min-width:768px) {
  .a {
    display: flex;
  }
  .half-left {
    display: inline-block;
    margin-right: 1px;
    width: 45%;
  }
  .next {
    color: #654AED;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    height: 10px;
    text-decoration: none;
  }
  .history .selection {
    color: #000000;
    font-family: 'Lato', sans-serif;
  }
  .super-product {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
  }
  .front-label {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
  }
  .front-label p {
    background-color: #ABC828;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding: 5px 25px 5px 25px;
  }
  .box-product {
    height: 550px;
    position: relative;
    width: 550px;
  }
  .box-product .product {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
  .box-micro {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10px;
    margin-top: 47px;
  }
  .view {
    height: 75px;
    width: 75px;
  }
  .half-right {
    display: block;
    transform: translateY(15px);
    width: 55%;
  }
  .superinfo {
    display: flex;
  }
  .info {
    display: block;
    flex-direction: column;
    height: 100px;
    margin-top: 70px;
    text-align: left;
    width: 100%;
  }
  .info .name p {
    color: black;
    display: block;
    font-size: 25px;
  }
  .info .price p {
    font-size: 25px;
  }
  .box-quantity {
    display: block;
  }
  .box-quantity .quantity {
    display: block;
    text-align: left;
  }
  .box-quantity select {
    width: 65px;
  }
  .contenedor-add {
    display: block;
    height: 50px;
    width: 40%;
  }
  .contenedor-add .add p {
    display: flex;
    font-size: 24px;
    text-align: center;
  }
  .shipping {
    color: #627387;
    display: block;
    font-family: 'Lato';
  }
  .description .preview {
    display: none;
  }
  .description .review {
    display: block;
    font-size: 15px;
    text-align: left;
  }
  .show-less {
    display: none;
  }
  .banner_handcrafted {
    background-image: url("../images/carving-w-butcher-gouge.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 80%;
    display: block;
    font-family: 'Lato', sans-serif;
  }
  .banner_content {
    color: white;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
    text-align: center;
    width: 55%;
  }
  .banner_content p {
    margin-left: 20px;
    margin-right: 20px;
  }
  .banner_description {
    width: 80%;
  }
  .banner_handcrafted .banner_content {
    background: linear-gradient(90deg, rgba(200, 190, 183), rgba(200, 190, 183, 1) 40%, rgba(200, 190, 183, 1) 80%, rgba(200, 190, 183, 0));
  }
}
