.featured-products {
  font-family: 'Oswald', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}

.product-card {
  display: none;
  flex: 1;
}

.product-card {
  background-color: #fff;
}

.first-product-card {
  display: block;
}

.featured-products h2 {
  text-align: center;
  color: #72808C;
}

.products-slider {
  display: flex;
  position: relative;
  height: 240px;
}

.front-label {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  width: 100%;
}

.front-label p {
  background-color: #ABC828;
  padding: 5px 25px 5px 25px;
  border-radius: 3px;
  font-weight: bold;
  color: #FFFFFF;
}

.product-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-image img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.slider-navigator {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-navigator button {
  background-color: transparent;
  border-style: none;
}

.slider-navigator img {
  width: 14px;
}

.slider-navigator-left {
  align-items: flex-start;
}

.slider-navigator-right {
  align-items: flex-end;
}

.products-slider label {
  position: absolute;
}

.product-data p {
  margin-bottom: 5px;
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  color: #72808C;
}

.product-data .price {
  color: #954180;
}

.product-data .offer {
  display: none;
}

.product-data button {
  font-family: 'Oswald', sans-serif;
  border-radius: 3px;;
  border-style: none;
  background-color: #4A90E2;
  padding: 10px 0 10px 0;
  color: #FFFFFF;
  font-weight: bold;
  width: 100%;
}

@media only screen and (min-width: 769px) {
  .slider-navigator {
    display: none;
  }

  .product-card {
    display: block;
  }

  .featured-products h2 {
    text-align: left;
  }

  .featured-products-list {
    display: flex;
  }

  .product-card .front-label {
    display: none;
  }

  .new-product .front-label {
    display: flex;
  }

  .product-card {
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
  }

  .product-data p {
    text-overflow: ellipsis;
    font-size: 15px;
  }

  .product-card .price {
    display: flex;
  }

  .product-card .offer {
    display: flex;
    margin-left: 5px;
    text-decoration: line-through;
    color: #D2D2D2;
  }

  .product-card button {
    border-radius: 3px;
  }

  .product-card button:hover {
    background-color: #ed7f03;
  }

}
