.navbar {
  font-family: 'Lato', sans-serif;
}

.navbar-desktop {
  font-family: 'Lato', sans-serif;
}

@media only screen and ( max-width: 768px) {
  .navbar-desktop {
    display: none;
  }
  .menubar .iconmenu1 {
    align-items: center;
    background: transparent;
    border: none !important;
    color: #627387;
    display: flex;
    font-size: 16px;
  }
  .navbar {
    border: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
  }
  .navbar .num-cart {
    color: #627387;
    font-size: 16px;
  }
  .arrow {
    height: 18px;
    margin-bottom: 3px;
    margin-right: 10px;
    width: 10.8px;
  }
  .arrow-back {
    height: 18px;
    margin-left: 10px;
    width: 10.8px;
  }
  .horse {
    height: 23px;
    width: 102px;
  }
  .imported-layers {
    height: 17.68px;
    width: 21px;
  }
  .sidenav {
    background-color: white;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 0;
    z-index: 1;
  }
  .sidenav a {
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s;
  }
  .sidenav a:hover {
    text-decoration: underline;
  }
  .sidenav .closebtn {
    align-items: center;
    background: transparent;
    border: none !important;
    color: #627387;
    display: flex;
    font-size: 16px;
    top: 0;
  }
  .sidenav-categories {
    background-color: #627387;
  }
  .sidenav-logo {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-between;
  }
  .sidenavhorse {
    height: 23px;
    padding-left: 8px;
    width: 102px;
  }
  .sidenav-login {
    text-decoration: none;
  }
  .closebtn p {
    align-items: center;
    padding: 0;
  }
  .line {
    border: 2px solid #8994A1;
    box-sizing: border-box;
    height: 2px;
    width: 228px;
  }
  .sidenav-social-container {
    color: #72808C;
    text-align: center;
  }
  .social-media {
    align-content: center;
    justify-content: space-between;
  }
  .smm {
    border-radius: 3px;
    border: 2px solid #72808C;
    height: 35px;
    width: 72px;
    background-repeat: no-repeat;
  }
  .f {
    background-image: url("../images/Fill 4 Copy@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px;
    background-color: white;
  }
  .twt {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/Fill 1 Copy@2x.png");
    background-size: 15px;
  }
  .g {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/Fill 2 Copy@2x.png");
    background-size: 15px;
  }
  .email-box {
    background-color: #FBFBFB;
    border-radius: 2px;
    border: 2px solid #D2D2D2;
    height: 25px;
    width: 227px;
    margin-bottom: 20px;
  }
  .info-list a {
    color: #72808C;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  .author- {
    color: #72808C;
    font-size: 12px;
  }
}

@media only screen and ( min-width: 769px) {
  .navbar {
    display: none;
  }
  .navbar-desktop {
    height: 172px;
  }
  .menubar-desktop {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
  }
  .logodesktop {
    height: 81px;
    width: 129px;
  }
  .logocontainer {
    text-align: right;
    width: 50%;
  }
  .searchlogin {
    display: flex;
    justify-content: flex-end;
    width: auto%;
  }
  .searchlogin a {
    color: #627387;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
  }
  .searchbar {
    background-color: #FBFBFB;
    background-image: url("sprites/Search icon@2x(1).png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    border-radius: 3px;
    border: 1px solid #D2D2D2;
    height: 25px;
    margin-top: 10px;
    width: 212px;
  }
  .navigation {
    display: flex;
  }
  .categories {
    display: flex;
    margin-bottom: 1px solid #72808C;
    width: 83%;
  }
  .categories ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .categories li {
    display: flex;
  }
  .categories a {
    margin-right: 25px;
    text-decoration: none;
    color: #627387;
  }
  .categories a:hover {
    color: red;
  }
  .cart {
    color: #627387;
    display: flex;
    font-size: 16px;
    justify-content: center;
    line-height: 21px;
    width: 17%;
  }
  .cart ul {
    margin: 0;
  }
  .cart li {
    display: inline-flex;
  }
  .cartimage {
    height: 18px;
    width: 21.38px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px
  }
}