.featured-kits {
  font-family: 'Oswald', sans-serif;
}

.big-banner {
  background-image: url("../images/banner1_mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.big-banner-content {
  background: linear-gradient(0deg,
    rgb(251,239,227),
    rgba(251,239,227, 1) 20%,
    rgba(251,239,227, 0.2) 50%,
    rgba(251,239,227, 0.1));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 320px;
  text-align: center;
}

.big-banner-content h1 {
  margin-bottom: 0;
  font-size: 20px;
}

.big-banner-content p {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  margin: 0;
}

.big-banner-content button {
  font-family: 'Oswald', sans-serif;
  border-radius: 0;
  border-style: none;
  background-color: #4A90E2;
  margin-bottom: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.big-banner-content button h1 {
  margin: 0;
  padding: 10px 0 10px 0;
  color: #FFFFFF;
}

.small-banner {
  display: flex;
  background-image: url("../images/banner2.png");
  box-shadow: inset 0 0 0 1000px rgba(245, 166, 35,0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  color: #FFFFFF;
}

.small-banner h1 {
  margin: 0 0;
  font-size: 45px;
}

.small-banner h3 {
  margin: 0;
}

.mid-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  text-align: center;
}

.mid-banner-saylor {
  background-image: url("../images/mid_banner1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.mid-banner-archeologist {
}

.mid-banner-saylor {
  background: linear-gradient(0deg,
    rgb(239, 239, 239),
    rgba(239, 239, 239, 1) 20%,
    rgba(239, 239, 239, 0.2) 50%,
    rgba(239, 239, 239, 0)), url("../images/mid_banner1.png") no-repeat top;
  background-size: cover;
  color: #000000;
}

.mid-banner-archeologist {
  background: linear-gradient(0deg,
    rgb(189, 152, 107),
    rgba(189, 152, 107, 1) 10%,
    rgba(189, 152, 107, 0.2) 50%,
    rgba(189, 152, 107, 0)), url("../images/mid_banner2.png") no-repeat top;
  background-size: cover;
  color: #FFFFFF;

}

.mid-banner-content h3 {
  margin-bottom: 0;
}

.mid-banner-content {
  font-family: 'Lato', sans-serif;
}

.mid-banner-content button {
  font-family: 'Lato', sans-serif;
  background-color: Transparent;
  border-radius: 2px;
  border-style: solid;
  margin-bottom: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.mid-banner-saylor button {
  border-color: #627387;
}

.mid-banner-archeologist button {
  border-color: #FFFFFF;
}

.mid-banner-saylor button h1 {
  margin: 0;
  padding: 10px 0 10px 0;
  color: #627387;
}

.mid-banner-archeologist button h1 {
  margin: 0;
  padding: 10px 0 10px 0;
  color: #FFFFFF;
}

@media only screen and (width: 768px) {
  .big-banner {
    background-size: cover;
    background-position: center;
  }

  .big-banner-content p {
    margin-bottom: 20px;
  }

  .small-banner {
    background-size: cover;
    background-position: bottom;
  }

  .mid-banner-saylor {
    background-size: cover;
    background-position: center;
  }

  .mid-banner-archeologist {
    background-position: top;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
  .flex-grid {
    display: flex;
    margin-bottom: 20px;
  }

  .big-banner {
    flex: 2;
    display: flex;
    background-image: url("../images/banner1.png");
    background-size: cover;
    background-position: left top;
    justify-content: flex-end;
    height: 400px;
    margin-right: 20px;
  }

  .big-banner-content {
    display: flex;
    background: linear-gradient(270deg,
      rgb(251,239,227),
      rgba(251,239,227, 1) 80%,
      rgba(251,239,227, 0));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 50%;
  }

  .big-banner-content p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .big-banner-content h1 {
    font-size: 25px;
  }

  .big-banner-content button {
    padding-left: 30px;
    padding-right: 30px;
  }

  .small-banner {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .small-banner h2 {
    font-size: 70px;
    margin: 0;
    padding: 0;
  }

  .small-banner h3 {
    width: 100%;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
  }

  .mid-banner {
    flex: 1;
    justify-content: flex-end;
    height: 200px;
  }

  .mid-banner-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
    width: 50%;
  }

  .mid-banner-content button {
    width: 100%;
  }

  .mid-banner-content p {
    font-size: 13px;
  }

  .mid-banner-saylor {
    background: url("../images/mid_banner1.png") 100px 0px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 400px 300px;
  }

  .mid-banner-saylor .mid-banner-content {
    background: linear-gradient(90deg,
      rgb(239, 239, 239),
      rgb(239, 239, 239) 50%,
      rgb(239, 239, 239) 90%,
      rgba(239, 239, 239, 0));
  }

  .mid-banner-archeologist {
    background: url("../images/mid_banner2.png") 100px 0px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 400px 300px;
    margin-left: 20px;
  }

  .mid-banner-archeologist .mid-banner-content {
    background: linear-gradient(90deg,
      rgb(189, 152, 107),
      rgb(189, 152, 107) 50%,
      rgb(189, 152, 107) 90%,
      rgba(189, 152, 107, 0));
  }
}

@media only screen and (min-width: 1280px) {

  .flex-grid {
    display: flex;
    margin-bottom: 20px;
  }

  .big-banner {
    flex: 2;
    display: flex;
    background-image: url("../images/banner1.png");
    background-size: cover;
    background-position: left top;
    justify-content: flex-end;
    height: 400px;
    margin-right: 20px;
  }

  .big-banner-content {
    display: flex;
    background: linear-gradient(270deg,
      rgb(251,239,227),
      rgba(251,239,227, 1) 80%,
      rgba(251,239,227, 0));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 50%;
  }

  .big-banner-content p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .big-banner-content h1 {
    font-size: 32px;
  }

  .big-banner-content button {
    padding-left: 30px;
    padding-right: 30px;
  }

  .small-banner {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .small-banner h2 {
    font-size: 70px;
    margin: 0;
    padding: 0;
  }

  .small-banner h3 {
    width: 100%;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
  }

  .mid-banner {
    flex: 1;
    justify-content: flex-end;
    height: 200px;
  }

  .mid-banner-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
    width: 50%;
  }

  .mid-banner-content button {
    width: 100%;
  }

  .mid-banner-content p {
    font-size: 13px;
  }

  .mid-banner-saylor {
    background: url("../images/mid_banner1.png") 100px 0px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 400px 300px;
  }

  .mid-banner-saylor .mid-banner-content {
    background: linear-gradient(90deg,
      rgb(239, 239, 239),
      rgb(239, 239, 239) 50%,
      rgb(239, 239, 239) 90%,
      rgba(239, 239, 239, 0));
  }

  .mid-banner-archeologist {
    background: url("../images/mid_banner2.png") 100px 0px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 400px 300px;
    margin-left: 20px;
  }

  .mid-banner-archeologist .mid-banner-content {
    background: linear-gradient(90deg,
      rgb(189, 152, 107),
      rgb(189, 152, 107) 50%,
      rgb(189, 152, 107) 90%,
      rgba(189, 152, 107, 0));
  }
}
