

/*==========Stylesheet DESKTOP========*/
    footer {
      // position: fixed;
      bottom: 0;
      display: inline;
      width: 100%;
      border-top: 2px solid grey;
    }

    .information{justify-content: center;}

    footer li{display: inline;}

    footer .socialmedia{
        color: #72808C;
        font-family:'Montserrat', sans-serif;
        font-size: 18px;
        line-height: 21px;
    }

    footer .sm {
        height: 35px;
        width: 93px;
        border: 2px solid #72808C;
        border-radius: 3px;
    }
    footer #fb{
      background: url("../images/fb.svg");
      background-position: center center;
      background-repeat: no-repeat;
      margin-right: 23px;
    }
    footer #twt{
        background: url("../images/twt.svg");
        background-position: center center;
        background-repeat: no-repeat;}
    footer #g{
        background: url("../images/g+.svg");
        background-position: center center;
        background-repeat: no-repeat;
        margin-left: 23px;
      }

    footer .newsletter {
      color: #72808C;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
    }

    footer .box-social {
      align-content: center;
      width: 350px;
    }

    footer .box-social button:hover {
      cursor: pointer;
    }

    footer .contenedorsocial {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 10px;
      margin-top: 10px;   }

    footer .contenedorsocial .logo {
      margin-left: 96px;
      margin-right: 96px;
    }

    footer .box-social p{
      text-align: center;
    }
    footer .contenedornews{
      width: 33%;
      display: inline-flex;
    }
    footer .newsletter input {
      height: 35px;
      width:300px;
      justify-content: center;
    }

    footer .information ul li a{
      height: 22px;
      width: 192px;
      color: #72808C;
      font-family:'Montserrat', sans-serif;
      font-size: 18px;
      line-height: 21px;
      text-decoration: none;
      align-items: center;
      margin-right: 50;

    }

    footer .information ul li{
      display: inline-block;
    }
    footer .information ul{
      margin-top: 2%;
      text-align: center;
    }

    footer .author {
      display:block;
      text-align: center;
    }

    footer .author p {
      color: #72808C;
      font-family:'Montserrat', sans-serif;
      font-size: 16px;
      line-height: 18px;
    }
/*=============Stylesheet MOBILE==========*/
    @media screen and(max-width:320px) {
      footer .information{display: none;}
      footer .contenedorsocial .logo{display:none;}
      footer #twt{
        margin-left:-20px;
        margin-right: -20px;}

      footer.contenedorsocial{
         width: 100;
          display:flex;
        margin-left: 50px;}
      footer .box-social{align-content:center;}
      footer .box-social p{font-size: 14px}
      footer  .boxsocialmedia{
          width: 95%;
          display:inline-flex;
          justify-content:space-between;
          align-content:center;
        }

      footer.contenedornews{
          margin-top: 5px;
          display:block;
          align-content: center;
          width: 100%;
        }
      footer .contenedornews p{
          font-size: 15px;
        }
      footer .contenedornews input{
          height: 40px;
          width: 305px;
          border: 2px solid #D2D2D2;
          border-radius: 2px;
          background-color: #FBFBFB;
        }
        footer .author p{
          margin-top: 35px;
          font-size: 12px
        }
    }
