footer {
  bottom: 0;
  display: inline;
  width: 100%;
}

.information {
  display: inline-block;
  justify-content: center;
  margin-top: 18px;
  text-align: center;
  width: 100%;
}

.information li {display: inline;}

.social-media-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.social-media-box {
  flex: 2;
  justify-content: flex-end;
}

.logo {
  display: flex;
  width: 100px;
  justify-content: center;
  align-content: center;
}

.social-media {
  color: #72808C;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.sm {
  border: 2px solid #72808c;
  border-radius: 3px;
  height: 35px;
  width: 93px;
}

.fb {
  background: url("/images/fb.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.twt {
  background: url("/images/twt.svg");
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-right: 15px;
}

.g {
  background: url("/images/g+.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.newsletter {
  transform: translateY(-27px);
  color: #72808c;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  height: 35px;
  justify-content: center;
  line-height: 21px;
  text-align: center;
  flex:2;
}

.newsletter input {
  width: 300px;
  height: 20px;
  font-size: 15px;
}

.social-media-box {
  align-content: center;
  text-align: center;
  width: 350px;
}

.social-media-icon-group button {
  cursor: pointer;
}

.social-media-container {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
.information {
  display: inline-flex;
  justify-content: center;
  flex:1;
}

.information .rp {margin: 0 50px 0 30px; }

.information .tc { margin: 0 20px 0 20px;}

.information .au { margin:0 30px 0 50px;}

.information .cu {margin-right: 30px}

.information a {
  color: #72808C;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}



.author {
  color: #72808c;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}
@media screen and (max-width: 1024px){
  .information a{ font-size: 16px}

  .information .rp {margin: 0 10px 0 10px; }

  .information .tc { margin: 0 10px 0 10px;}

  .information .au { margin:0 10px 0 10px;}

  .information .cu {margin-right: 10px}
}
@media screen and (max-width: 768px) {
  .information {display: none;}

  .logo { display: none;}

  .social-media-container {
    display:block;
    width: 100%;
  }

  .social-media-box {
    width: 100%;
    display: block;
  justify-content: center;
  height: auto;
}

  .social-media p {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }

  .social-media-icon-group {
    display: inline-flex;
    justify-content: center;
  }

  .twt {
    margin-left: 3px;
    margin-right: 3px;
  }

  .newsletter {
    display: block;
    justify-content: center;
    text-align: center;
    display: block;
    transform: translateY(5px);
    width: 100%;
    padding-bottom: 10px;
  }

  .newsletter p {
    text-align: center;
    font-size: 15px;
  }

  .newsletter input {
    background-color: #fbfbfb;
    border: 2px solid #d2d2d2;
    border-radius: 2px;
    height: 40px;
    width: 305px;
  }

  .author {margin-top: 60px}

  .author p {
    font-size: 12px;
    margin-top: 35px;
  }
}
