footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-content {
  margin: 0 40px;
}

.information {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 18px;
  text-align: center;
  width: 100%;
}

.information ul {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}

.information li {
  display: flex;
  justify-content: space-between;
}

.social-media-container {
  display: flex;
  width: 100%;
}

.social-media-box {
  display: flex;
  flex: 1;
  text-align: center;
}

.logo {
  align-content: center;
  display: flex;
  justify-content: center;
  width: 100px;
}

.social-media {
  color: #72808C;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 21px;
  display: block;
}

.sm {
  display: inline-flex;
  border-radius: 3px;
  border: 2px solid #72808c;
  height: 35px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.twt {
  margin: 0 7px 0 7px;
}

a {
  outline: none;
}

.newsletter {
  flex: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-align: center;
}

.newsletter p {
  color: #72808c;
}

.newsletter .box-newsletter {
  justify-content: center;
}

.newsletter input {
  background-color: #fbfbfb;
  border-radius: 2px;
  border: 2px solid #d2d2d2;
  height: 20px;
  width: 300px;
}

.social-media-icon-group button {
  cursor: pointer;
}

.social-media-container {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.information a {
  color: #72808C;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

.author {
  color: #72808c;
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .information a {
    font-size: 14px;
  }

  .sm {
    border-radius: 3px;
    border: 2px solid #72808c;
    height: 25px;
    width: 60px;
  }

  .newsletter input {
    width: 200px;
  }

  .newsletter p {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .information {
    display: none;
  }

  .footer-content {
    margin: 0;
  }

  .logo {
    display: none;
  }

  .social-media-container {
    display: block;
    width: 100%;
  }

  .social-media-box {
    display: block;
    height: auto;
    justify-content: center;
    width: 100%;
  }

  .social-media p {
    font-size: 14px;
    text-align: center;
    width: 100%;
  }

  .social-media-icon-group {
    flex-direction: column;
    justify-content: center;
  }

  .sm {
    display: inline-flex;
    height: 35px;
    width: 93px;
  }

  .twt {
    margin-left: 3px;
    margin-right: 3px;
  }

  .newsletter {
    display: block;
    display: block;
    justify-content: center;
    text-align: center;
    transform: translateY(5px);
    width: 100%;
  }

  .newsletter p {
    font-size: 15px;
    text-align: center;
  }

  .newsletter input {
    height: 40px;
    width: 305px;
  }

  .author {
    margin-top: 30px;
  }

  .author p {
    font-size: 12px;
    margin-top: 35px;
  }
}
