<div class="grid__item">
    <div class="grid-uniform helper-content">
      {% for i in (1..4) %}
        <div class="grid__item one-half large--one-quarter">
          <a href="/admin/products" class="grid__image">
            {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ i }}.png{% endcapture %}
            {{ imageUrl | img_tag }}
          </a>
	  <div class="product-container">
          <p class="h6 text-center product-description"><a href="/admin/products">{{ 'homepage.onboarding.product_title' | t }}</a></p>
          <p class="text-center product-price">$19.99</p>
	  </div>
<div class="details-href text-center">
        <a href="#">see details ></a>
      </div>
        </div>
      {% endfor %}
    </div>
</div>
