<div class="categories_main">
  <div class="banner_wooden_toys">
    <div class="wooden_toys_content">
      <h2>WOODEN TOYS</h2>
    </div>
  </div>

  <div class="banner_plush_toys">
    <div class="plush_toys_content">
      <h2>PLUSH TOYS</h2>
    </div>
  </div>

  <div class="banner_outdoors">
    <div class="outdoors_content">
      <h2>OUTDOORS</h2>
    </div>
  </div>

  <div class="button_categories">
    <button type="button" class="button_scrollup" name="button_scrollup">
      <h3>SCROLL UP</h3>
      <img class="uparrow" src="./images/Path 322 Copy 4@2x.png" alt="uparrow">
    </button>
  </div>
</div>
