<div class="categories_main">
  <div class="banner_wooden_toys">
    <div class="wooden_toys_content">
      <a href="/categories.html">
        <h2>WOODEN TOYS</h2>
      </a>
    </div>
  </div>

  <div class="banner_plush_toys">
    <div class="plush_toys_content">
      <a href="/categories.html">
        <h2>PLUSH TOYS</h2>
      </a>
    </div>
  </div>

  <div class="banner_outdoors">
    <div class="outdoors_content">
      <a href="/categories.html">
        <h2>OUTDOORS</h2>
      </a>
    </div>
  </div>

  <div class="scroll-up">
    <a href="#" class="scroll-up-button" name="scrollup">
      <h3>SCROLL UP</h3>
      <img class="up-arrow" src="/images/arrow_up.png" alt="Arrow Up">
    </a>
  </div>
</div>
