<footer>
  <div class="footer-content">
    <div class="social-media-container">
      <div class="social-media-box">
        <div class="box-sm">
          <div class="social-media">
            <p>FOLLOW US</p>
          </div>
          <div class="social-media-icon-group">
            <div class="sm">
              <a href="https://www.facebook.com/">
                <p><img src="/images/fb.svg" alt="Facebook"></p>
              </a>
            </div>
            <div class="sm twt">
              <a href="https://twitter.com/?lang=en">
                <p><img src="/images/twt.svg" alt="Twitter"></p>
              </a>
            </div>
            <div class="sm">
              <a href="https://plus.google.com/discover">
                <p><img src="/images/g+.svg" alt="G+"></p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="logo">
        <img src="images/Logo.svg" alt="Lil Peep">
      </div>

      <div class="newsletter">
        <div class="box-newsletter">
          <p>JOIN OUR NEWSLETTER!</p>
          <input type="email" placeholder="EMAIL" maxlength="25">
        </div>
      </div>
    </div>
    <div class="information">
      <ul>
        <li>
          <a href="#" class="cu">CONTACT US</a>
        </li>
        <li>
          <a href="#" class="au">ABOUT US</a>
        </li>
        <li>
          <a href="#" class="tc">TERMS AND CONDITIONS</a>
        </li>
        <li>
          <a href="#" class="rp">RETURN POLICY</a>
        </li>
        <li>
          <a href="#" class="pp">PRIVACY POLICY</a>
        </li>
      </ul>
    </div>
    <div class="author">
      <p>Created by Crowd Interactive 2015</p>
    </div>
  </div>

</footer>
