<div class="contenedor">
      <footer>
          <div class="contenedorsocial">
            <div class="box-social">
              <p class="socialmedia" i>FOLLOW US</p>
              <div class="boxsocialmedia">
                <button type="button" class="sm" id="fb"></button>
                <button type="button" class="sm" id="twt"></button>
                <button type="button" class="sm" id="g"></button>
              </div>
            </div>
            <div class="logo">
              <img src="../images/Logo.png"  alt="Lil Peep">
            </div>
        </div>


        <div class="contenedornews">
          <div class="newsletter">
            <p>JOIN OUR NEWSLETTER!</p>
            <input type="email" placeholder="EMAIL" maxlength="25">
          </div>
        </div>

        <div class="information">
          <ul>
            <li><a href="#">CONTACT US</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">PRIVACY POLICY</a></li>
            <li><a href="#">RETURN POLICY<a></li>
            </ul>
          </div>

          </br>

        <div class="author">
          <p>Created by Crowd Interactive 2015</p>
        </div>
      </footer>
  </div>
