<footer>
  <div class="social-media-container">
    <div class="social-media-box">
      <p class="social-media">FOLLOW US</p>
      <div class="social-media-icon-group">
        <button type="button" class="sm fb"></button>
        <button type="button" class="sm twt"></button>
        <button type="button" class="sm g"></button>
      </div>
    </div>
    <div class="logo">
      <img src="../images/Logo.svg"  alt="Lil Peep">
    </div>
  </div>

  <div class="news-container">
    <div class="newsletter">
      <p>JOIN OUR NEWSLETTER!</p>
      <input type="email" placeholder="EMAIL" maxlength="25">
    </div>
  </div>

  <div class="information">
    <ul>
      <li><a href="#">CONTACT US</a></li>
      <li><a href="#">ABOUT US</a></li>
      <li><a href="#">RETURN POLICY</a></li>
      <li><a href="#">PRIVACY POLICY<a></li>
    </ul>
  </div>

  </br>

  <div class="author">
    <p>Created by Crowd Interactive 2015</p>
  </div>
</footer>
