
	<!-- version mobile -->
<script src="../javascripts/site.js"></script>
 	<div class="navbar">
 		<div class="menubar">
  <!-- SIDEBAR -->
 			<div id="mySidenav" class="sidenav">
 				<div class="sidenav_logo">
 					<img class="sidenavhorse" src="../images/logo2.png">
 					<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><p>Close <img class="arrow_back" src="../images/Path 322 Copy 3@2x.png"></p></a>
 				</div>
 				<div class="sidenav_categories">
 		 			  <a href="#"><br>HOME</a>
  					<a href="#">ALL TOYS</a>
  					<a href="#">KITS</a>
  					<a href="#">WOODEN TOYS</a>
  					<a href="#">PLUSH TOYS</a>
 			 		  <a href="#">OUTDOORS <br><br></a>
 			 		  <hr class="line">
 			 		  <a class="sidenav_login" href="#">LOG IN</a>
 			 		  <a class="sidenav_login" href="#">SIGN UP<br><br></a>
 			 	</div>
 			 	<!-- Seccion del footer Sidenav -->
 			 	<footer>
 			 		<div class="contenedorsocial_">
 			 			<div class="box-social_">
 			 				<p class="socialmedia_"> FOLLOW US</p>
 			 				<div class="boxsocialmedia_">
 			 					<button type="button" class="sm_" id="fb_"></button>
 			 					<button type="button" class="sm_" id="twt_"></button>
 			 					<button type="button" class="sm_" id="g_"></button>
 			 				</div>
 			 			</div>
 			 		</div>

 			 		<div class="contenedornews_">
 			 			<div class="newsletter_">
 			 				<p>JOIN OUR NEWSLETTER!</p>
 			 				<input type="email" placeholder="EMAIL" maxlength="25">
 			 			</div>
 			 		</div>

 			 		<div class="information_">
 			 			<ul>
 			 				<li><a href="#">CONTACT US</a></li>
 			 				<li><a href="#">ABOUT US</a></li>
              <li><a href="#">TERMS & CONDITIONS</a></li>
 			 				<li><a href="#">RETURN POLICY</a></li>
 			 				<li><a href="#">PRIVACY POLICY</a></li>
 			 			</ul>
 			 		</div>
 			 		<div class="author_">
 			 			<p>Created by Crowd Interactive 2015
 			 		</div>
 			 	</footer>

			</div>


			<span class="iconmenu" style="cursor:pointer" onclick="openNav()"> <img class="arrow" src="../images/Path 322 Copy 5@2x.png">Menu</span>
 		</div>

 		<img class="horse" src="../images/logo2.png">
 		<span class="num_cart">0 <img class="imported-layers" src="../images/Cart_Icon@2x.png">		</span>
 	</div>





 	<!-- version desktop -->
 	<div class="navbar_desktop">
 		<div class="menubar_desktop">
 			<div class="logocontainer"><img class="logodesktop" src="../images/Logo@2x.png"></div>
 			<div class="searchlogin">
 				<input type="text" class="searchbar" name="search" placeholder="Search">
 				<ul>
 					<a class="linklogin" href="#">Log In</a>
 					<a class="linksignup" href="#">Sign Up</a>
 				</ul>
 			</div>
 		</div>
 		<div class="navigation">
 			<div class="categories">
 				<ul>
 					<li><a href="#">Home</a></li>
 					<li><a href="#">All Toys</a></li>
 					<li><a href="#">Kits</a></li>
					<li><a href="#">Wooden Toys</a></li>
 					<li><a href="#">Plush Toys</a></li>
 					<li><a href="#">Outdoors</a></li>
				</ul>
			</div>
			<div class="cart">
				<ul>
					<li><p>Cart 0</p></li>
					<li><img class="cartimage" src="../images/Cart_Icon@2x.png"></li>

				</ul>
			</div>
		</div>
 	</div>
