<!-- version mobile -->
<script src="../javascripts/site.js"></script>
<div class="navbar">
  <div class="menubar">
    <!-- SIDEBAR -->
    <div id="mySidenav" class="sidenav">
      <div class="sidenav-logo">
        <img class="sidenavhorse" src="../images/logo2.png">
        <button type="button" class="closebtn" onclick="closeNav()">
          <p>Close
            <img class="arrow-back" src="../images/Path 322 Copy 3@2x.png"></p>
        </button>
      </div>
      <div class="sidenav-categories">
        <a href="/"><br>HOME</a>
        <a href="/categories.html">ALL TOYS</a>
        <a href="/categories.html">KITS</a>
        <a href="/categories.html">WOODEN TOYS</a>
        <a href="/categories.html">PLUSH TOYS</a>
        <a href="/categories.html">OUTDOORS
          <br><br></a>
        <hr class="line">
        <a class="sidenav-login" href="#">LOG IN</a>
        <a class="sidenav-login" href="#">SIGN UP<br><br></a>
      </div>
      <!-- Seccion del footer Sidenav -->
      <div class="sidenav-social-container">
        <div class="social-container">
          <div class="social-box">
            <p>
              FOLLOW US</p>
            <div class="social-media">
              <button type="button" class="smm f"></button>
              <button type="button" class="smm twt"></button>
              <button type="button" class="smm g"></button>
            </div>
          </div>
        </div>

        <div class="email-container">
          <p>JOIN OUR NEWSLETTER!</p>
          <input type="email" placeholder="EMAIL" maxlength="25" class="email-box">
        </div>

        <div class="info-list">
          <a href="#">CONTACT US</a>
          <a href="#">ABOUT US</a>
          <a href="#">TERMS & CONDITIONS</a>
          <a href="#">RETURN POLICY</a>
          <a href="#">PRIVACY POLICY</a>
        </div>
        <div class="author-">
          <p>Created by Crowd Interactive 2015
          </div>
        </div>

      </div>

      <button type="button" class="iconmenu1" onclick="openNav()">
        <img class="arrow" src="../images/Path 322 Copy 5@2x.png">Menu</button>

    </div>
    <img class="horse" src="../images/logo2.png">
    <span class="num-cart">0
      <img class="imported-layers" src="../images/Cart_Icon@2x.png">
    </span>
  </div>

  <!-- version desktop -->
  <div class="navbar-desktop">
    <div class="menubar-desktop">
      <div class="logocontainer"><img class="logodesktop" src="../images/Logo@2x.png"></div>
      <div class="searchlogin">
        <input type="text" class="searchbar" name="search" placeholder="Search">
        <ul>
          <a class="linklogin" href="#">Log In</a>
          <a class="linksignup" href="#">Sign Up</a>
        </ul>
      </div>
    </div>
    <div class="navigation">
      <div class="categories">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/categories.html">All Toys</a>
          </li>
          <li>
            <a href="/categories.html">Kits</a>
          </li>
          <li>
            <a href="/categories.html">Wooden Toys</a>
          </li>
          <li>
            <a href="/categories.html">Plush Toys</a>
          </li>
          <li>
            <a href="/categories.html">Outdoors</a>
          </li>
        </ul>
      </div>

      <div class="cart">
        <ul>
          <li>
            <p>Cart 0</p>
          </li>
          <li><img class="cartimage" src="../images/Cart_Icon@2x.png"></li>
        </ul>
      </div>

    </div>
  </div>
