
    <div class="contenedordetails">
    <!-- Fotografias -->
    <div class="producto"><img src="../images/oso.png" alt="Oso" class="oso"></div>
    <div class="box-micro">
      <div class="microproducto1"></div>
      <div class="microproducto1"></div>
    </div>
    <!-- Informacion -->
    <div class="info">
      <div class="name"><p>Wood Dalmatian Dog</p></div>
      <div class="price"><p>$10 USD</p></div>
    </div>
    <!-- Cantidad -->
    <div class="box-cantidad">
      <p>Quantity</p>
      <select size="number" name="box">
        <option value="1">1</option>
        <option value="1">2</option>
        <option value="1">3</option>
        <option value="1">4</option>
        <option value="1">5</option>
      </select>
    </div>
    <!-- Add to car -->
    <div class="contenedoradd">
      <div class="add"><p>ADD TO CART</p></div>
    </div>
    <!-- Description -->
    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia
        m, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        .</p>

      </div>
    </div>
