/*================ Site Header ================*/
header {
  background-color: #fff;
  font-family: $font-stack-header;
  text-align: center;
  vertical-align: top;
  height: 100px;

  .header-section-icon {
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;

    h1 {
      display: inline-block;
    }
  }

  .header-section-cart {
    display: inline-block;
    width: 39%;
    position: absolute;
    text-align: right;
    vertical-align: top;
    right: 0;

    ul {
      li {
        list-style: none;
        display: inline-block;
        margin-right: 15px;
      }
    }

    .customer-options {
      top: 0;
      display: inline-block;
    }

    .search-form {
      margin-top: 10px;
      display: inline-block;

      input {
        background-color: #FBFBFB;
        background-image: url('images/microphone.png');
        background-repeat: no-repeat;
        background-position: right;
        border: 1px solid #D2D2D2;
        color: #AFAFAF;
        font-size: 14px;
        height: 35px;
        padding-left: 5px;
        width: 232px;
      }

      button {
        color: #627387;
        position: absolute;
        right: 3px;
        top: 2px;
        z-index: 999;
        height: 30px;
        width: 34px;
        border: none;
        background-color: #FBFBFB;
      }
    }
  }

}

nav {
  background: #fff;
  display: flex;
  justify-content: center;
  padding-top: 10px;

  ul {
    li {
      display: inline-block;
      margin: 5px 10px;
    }
  }

  .header-cart {
    float: right;
    right: 15px;
    position: absolute;
  }
}