footer {
    background: $color-footer;
    bottom: 0;
		color: $color-subtitle-text;
    height: 290px;
    left: 0;
		margin-top: 10px;
    padding: 35px 0 15px 0;
    position: absolute;
    right: 0;
		text-align: center;

    .container {
      margin: 0 auto;
      text-align: center;
      padding: 0;
    }

    .footer-left {
			height: 120px;
			vertical-align: top;

			ul {
        list-style: none;
        padding: 0;

				li {
					border: 2px solid $color-link-text;
					display: inline-table;
					height: 35px;
					width: 93px;
					margin: 0 10PX;
					padding: 5px;
					border-radius: 3px;						
				}
      }
    }

    .footer-center {
			text-align: center;
			vertical-align: top;
		}

    .footer-right {
			height: 120px;

			input.newsletter {
				border: 1px solid $color-border-input;
				color: $color-subtitle-text;
				height: 35px;
				padding-left: 15px;
				width: 324px;
			}
		}

		.footer-copyright {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }

		.footer-nav {
			display: block;

			ul {
				li {

					display: inline-block;
					list-style: none;
					margin: 25px 10px;
					text-transform: uppercase;
				}
			}
		}

}