/*================ Site Header ================*/
header {
  background-color: #fff;
  font-family: $font-stack-header;
  text-align: center;
  vertical-align: top;
  height: 172px;
  position: relative;

  .header-section-icon {
    display: inline-block;
    width: 100%;
    text-align: center;

    h1 {
      display: inline-block;
    }
  }

  .header-top-right {
    display: inline-block;
    width: 39%;
    position: absolute;
    text-align: right;
    vertical-align: top;
    right: 35px;
    top: 25px;

    ul {
      li {
        list-style: none;
        font-size: 18pt;
        font-color: #627387;
        display: inline-block;
      }
      li:first-child {
        margin-right: 30px;
      }
    }

    .customer-options {
      top: 0;
      display: inline-block;
    }

    .search-form {
      display: inline-block;
      margin-right: 70px;

      input {
        background-color: #FBFBFB;
        border: 1px solid #D2D2D2;
        border-radius: 5px;
        color: #AFAFAF;
        font-size: 18pt;
        height: 35px;
        padding-left: 5px;
        width: 232px;
      }

      button {
        color: #627387;
        position: absolute;
        right: 3px;
        top: 2px;
        z-index: 999;
        height: 30px;
        width: 34px;
        border: none;
        background-color: #FBFBFB;
      }
    }
  }

  .nav-mobile {
    display: inline-block;
  }

}

nav {
  background: #fff;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 18pt;
  ul {
    li {
      display: inline-block;
      margin: 5px 10px;
      .site-nav--active{
      font-color:#D3495A;
      }
    }
  }

  .header-cart {
    float: right;
    right: 15px;
    position: absolute;
  }
}
