<!-- Carousel -->

<div class="row">
  <div class="owl-carousel">
    <div class="item"><img src="{{ 'hero1_home_1280.jpg' | asset_url }}"></div>
    <div class="item"><img src="{{ 'hero2_home_1280.jpg' | asset_url }}"></div>
  </div>
</div>
