
<!-- Main Footer -->

<footer class="main-footer">

  <div class="footer-content">

    <div class="footer-content-section">
      <h3 class="section-title">fiorella</h3>
      <ul class="site-list">
        <li class="site-item"><a href="#" class="site-link">about us</a></li>
        <li class="site-item"><a href="#" class="site-link">contact us</a></li>
        <li class="site-item"><a href="#" class="site-link">store locations</a></li>
      </ul>
    </div>
    <div class="footer-content-section">
      <h3 class="section-title">information</h3>
      <ul class="site-list">
        <li class="site-item"><a href="#" class="site-link">about us</a></li>
        <li class="site-item" ><a href="#" class="site-link">contact us</a></li>
        <li class="site-item"><a href="#" class="site-link">store locations</a></li>
      </ul>
    </div>
    <div class="footer-content-section">
      <h3 class="section-title">my account</h3>
      <ul class="site-list">
        <li class="site-item"><a href="#" class="site-link">about us</a></li>
        <li class="site-item"><a href="#" class="site-link">contact us</a></li>
        <li class="site-item"><a href="#" class="site-link">store locations</a></li>
      </ul>
    </div>
    <div class="footer-content-section">
      <h3 class="section-title">follow us</h3>
      <div class="social-networks">
        <a href="#" class="social-link"><span class="facebook-icon"></span></a>
        <a href="#" class="social-link"><span class="pinterest-icon"></span></a>
        <a href="#" class="social-link"><span class="googleplus-icon"></span></a>
        </div>
    </div>

  </div>

</footer>
