<div class="banner-main">
<div class="banner-slider"></div>
<div class="banner-promo"></div>
<div class="banner-kit-1"></div>
<div class="banner-kit-2"></div>
</div>

{% comment %}
  {
    "name": "Banner",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "label": "product",
            "id": "image",
            "type": "image"
          },
          {
            "type": "image",
            "label": "is new?",
            "id": "is_new"
          }
        ]
      }
    ]
  }
{% endcomment %}

