/*================ Links & Buttons ================*/
.btn {
  @include prefix('user-select', 'none', moz ms webkit spec);
  @include prefix(appearance, none, webkit moz spec);
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 0;
}

.pink-button {
  font-family: 'robotobold';
  font-size: 16px;
  color: #FFFFFF;
  line-height: 19px;
  background: #FF0052;
  height: 40px;
  width: 100px;
}

.pink-button:hover {
  font-family: 'robotobold';
  font-size: 16px;
  background: #FFFFFF;
  line-height: 19px;
  color: #FF0052;
  height: 40px;
}

.gray-button {
  font-family: 'robotobold';
  font-size: 16px;
  color: #9B9B9B;
  line-height: 19px;
  background: white;
  height: 40px;
  border-color: #9B9B9B;
  width: 160px;
}

.gray-button:hover {
  font-family: 'robotobold';
  font-size: 16px;
  background: #9b9b9b;
  line-height: 19px;
  color: white;
  height: 40px;
}