.icon {
  height: 50px; 
  width: 50px;
}

.icon-helmet {
  background: url('../assets/sprite.png') no-repeat -201px -189px;
  width: 50px;
  height: 42px;
}

.icon-goggle {
  background: url('../assets/sprite.png') no-repeat -110px -198px;
  width: 62px;
  height: 33px;
}

.icon-glove {
  background: url('../assets/sprite.png') no-repeat -280px -186px;
  width: 29px;
  height: 57px;
}