<!-- /templates/index.liquid -->
<div class="grid-uniform">
{% comment %}
  Space for banners or slider or something
{% endcomment %}
</div>

<div class="grid-uniform">
  <h2>{{ 'homepage.sections.featured_title' | t }}</h2>
  {% include 'onboarding-featured-products' %}
</div>
