<section class="body-message">
  <div class="title-message">
    <h2 class="title">
        <span>ALWAYS FRESH</span>
    </h2>
  </div>
  <div class="box-image-message">
    <img class="image-message" src="/images/home/complementary_image_home_mobil@2x.png" alt="complementary image">
  </div>
  <div class="p-message">
    <p class="text-message">We promise to always deliver fresh flowers and we guarantee the highest quality. Supported by our excellent express delivery mechanism we have the best delivery times on the day of your event, feel safe that your arrangements will be on time. Find a store you!</p>
  </div>
  <button type="button" class="btn-call-action">READ MORE</button>
</section>
