<div class="breadcrumb-box">
  <ul class="breadcrumb">
    <div class="breadcrumb-desktop">
      <li>
        <a href="#">HOME</a>
      </li>
      <li class="active">BOUQUETS</li>
    </div>
    <div class="breadcrumb-mobile">
      <li class="active">
        <a href="#">
          <img src="/images/products/left-arrow.png" alt="left-arrow"> Back
        </a>
      </li>
    </div>
  </ul>
</div>
