<div class="arrows">
  <div class="arrows-box">
    <ul class="ul-arrows">
      <li>
        <a href="javascript:void(0)">
          <img src="/images/products/left-arrow.png" alt="">PREV
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">NEXT
          <img src="/images/products/right-arrow.png" alt="">
        </a>
      </li>
    </ul>
  </div>
</div>
