<section class="category-list">
  <div class="category-container">
    <img src="/images/home/bouquets_home_mobil.jpg" alt="Bouquets Category">
    <div class="category-text-block">
      <p>BOUQUETS</p>
    </div>
  </div>
  <div class="category-container">
    <img src="/images/home/boutonniere_home_mobil.jpg" alt="Boutonniere Category">
    <div class="category-text-block">
      <p>BOUTONNIERES</p>
    </div>
  </div>
  <div class="category-container">
    <img src="/images/home/centerpieces_home_mobil.jpg" alt="Centerpieces Category">
    <div class="category-text-block">
      <p>CENTERPIECES</p>
    </div>
  </div>
</section>
