<section class="mobile-category-list">
  <div class="category-container">
    <img src="/images/home/bouquets_home_mobil.jpg" alt="Bouquets Category">
    <div class="category-text-block">
      <p>BOUQUETS</p>
    </div>
  </div>
  <div class="category-container">
    <img src="/images/home/boutonniere_home_mobil.jpg" alt="Boutonniere Category">
    <div class="category-text-block">
      <p>BOUTONNIERES</p>
    </div>
  </div>
  <div class="category-container">
    <img src="/images/home/centerpieces_home_mobil.jpg" alt="Centerpieces Category">
    <div class="category-text-block">
      <p>CENTERPIECES</p>
    </div>
  </div>
</section>

<section class="desktop-category-list">
  <div class="category-products">
    <div class="category-container">
      <h2>BOUQUETS</h2>
      <div class="image-container">
        <img alt="Bouquets Category">
        <div class="middle">
          <div>SHOP NOW</div>
        </div>
      </div>
      <p>Look wonderful on your big day with the beatiful arregments that Fiorella have for you</p>
    </div>
    <div class="category-container">
      <h2>BOUTONNIERES</h2>
      <div class="image-container">
        <img alt="Bouquets Category">
        <div class="middle">
          <div>SHOP NOW</div>
        </div>
      </div>
      <p>Look wonderful on your big day with the beatiful arregments that Fiorella have for you</p>
    </div>
    <div class="category-container">
      <h2>CENTERPIECES</h2>
      <div class="image-container">
        <img alt="Bouquets Category">
        <div class="middle">
          <div>SHOP NOW</div>
        </div>
      </div>
      <p>Look wonderful on your big day with the beatiful arregments that Fiorella have for you</p>
    </div>
  </div>
  <div class="pink-rectangle"></div>
</section>
