<footer class="footer">
  <div class="box-footer">
    <div class="box footer-item footer_fiorella">
       <h3 class="title-footer">FIORELLA</h3>
      <ul class="ul-footer">
        <li><a href="#">ABOUT US</a></li>
        <li><a href="#">CONTACT US</a></li>
        <li><a href="#">STORE LOCATION</a></li>
      </ul>
    </div>
    <div class="box footer-item footer_info">
      <h3 class="title-footer">INFORMATION</h3>
      <ul class="ul-footer">
        <li><a href="#">FAQ's</a></li>
        <li><a href="#">PAYMENT METHODS</a></li>
        <li><a href="#">DELIVERY</a></li>
      </ul>
    </div>
    <div class="box footer-item footer_contact">
    <h3 class="title-footer">MY ACCOUNT</h3>
      <ul class="ul-footer">
        <li><a href="#">ORDER HISTORY</a></li>
        <li><a href="#">WISH LIST</a></li>
        <li><a href="#">NEWSLETTER</a></li>
      </ul>
    </div>
    <div class="box footer-item">
      <div class="social-media">
        <h3 class="title-footer">FOLLOW US</h3>
        <ul class="ul-social">
          <li><a href="#" class="icon_facebook"></a></li>
          <li><a href="#" class="icon_pinterest"></a></li>
          <li><a href="#" class="icon_gplus"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <p>&#169; 2015 All Rights Reserved. Designed by Crowd Interactive. Powered by Spree.</p>
</footer>
