<header class="header">
	<div class="upper-row">
		<% partial "partial/_top-navigation" %>
		<div class="logo_fiorella">
			<img src="/images/home/logo_fiorella.png" alt="fiorella">
		</div>
	</div>
	<section class="slider">
      <div class="img-item">
       	<img class="img1" src="/images/home/hero1homemobil.jpg" alt="">
        <p class="msg">Check out the new arrangements.</p>
        <button class="btn-slider">SHOP NOW</button>
      </div>
      <div class="img-item">
        <img class="img2" src="/images/home/hero1homemobil.jpg" alt="">
        <p class="msg">Check out the new arrangements.</p>
        <button class="btn-slider">SHOP NOW</button>
      </div>
    </section>
</header>