<header class="header">
  <div class="upper-row">
    <%= partial "partials/_top-navigation" %>
    <div class="logo_fiorella">
      <img src="../images/home/logo_fiorella.png" alt="fiorella">
    </div>

    <!--
    <div class="navbar-container">
      <div class="navbar">
        <a class="active" href="#home">BOUQUETS</a>
        <a href="#news">BOUTONNIERES</a>
        <a href="#contact">CENTERPIECES</a>
        <a href="#about">CEREMONY</a>
      </div>
    </div>
  -->

  </div>
</header>
