<header class="header">
  <div class="upper-row">
    <%= partial "partials/_top-navigation" %>
    <div class="logo_fiorella">
      <img src="../images/home/logo_fiorella.png" alt="fiorella">
    </div>

    <div class="navbar-container">
      <div class="navbar">
        <nav>
             <ul>
                  <li><a href="#">BOUQUETS</a></li>
                  <li><a href="#">CENTERPIECES</a></li>
                  <li><a href="#">BOUNTONNIERES</a></li>
                  <li><a href="#">CEREMONY</a></li>
             </ul>
        </nav>
      </div>
    </div>

  </div>
</header>
