<section class="product">
  <div class="product-container-mobile">
    <h2>title</h2>
    <img/>
    <p>Description</p>
    <span>Color Bouquet</span>
    <span>Qty</span>
    <p>$$$$$</p>
    <div>Button</div>
    <div>ICONS</div>
  </div>

  <div class="product-container-desktop">
    <div class="product-img">
      <img/>
      <div class="product-img-thumbnail">
        <div class="image-container">
          <div>
            <img/>
          </div>
        </div>
        <div class="image-container">
          <div>
            <img/>
          </div>
        </div>
      </div>
    </div>
    <div class="product-info">
      <h2>title</h2>
      <p>Description</p>
      <span>Color Bouquet</span>
      <span>Qty</span>
      <p>$$$$$</p>
      <div>Button</div>
      <div>ICONS</div>
    </div>
  </div>
</section>
