<section class="info-product">
  <div class="product-container">
    <h2>title</h2>
    <img></img>
    <p>Description</p>
    <span>Color Bouquet</span>
    <span>Qty</span>
    <p>$$$$$</p>
    <div>Button</div>
    <div>ICONS</div>
  </div>
</section>
