<div class="products-container">
	<div class="product-item">
		<div class="product-content">
			<div class="product-image">
				<img src="images/products/bouquet1_image_mobile@2x.jpg" alt="">
			</div>
			<div class="product-description">
				<h3 class="product-name">Flower Bouquet Victoria</h3>
				<p class="product-price">$84.50</p>
			</div>
		</div>
	</div>
	<div class="product-item">
		<div class="product-content">
			<div class="product-image">
				<img src="images/products/bouquet2_image_mobile@2x.jpg" alt="">
			</div>
			<div class="product-description">
				<h3 class="product-name">Flower Bouquet Amelia</h3>
				<p class="product-price">$82.00</p>
			</div>
		</div>
	</div>
	<div class="product-item">
		<div class="product-content">
			<div class="product-image">
				<img src="images/products/bouquet3_image_mobile@2x.jpg" alt="">
			</div>
			<div class="product-description">
				<h3 class="product-name">Flower Bouquet Catherine</h3>
				<p class="product-price">$78.90</p>
			</div>
		</div>
	</div>
	<div class="product-item">
		<div class="product-content">
			<div class="product-image">
				<img src="images/products/bouquet4_image_mobile@2x.jpg" alt="">
			</div>
			<div class="product-description">
				<h3 class="product-name">Flower Bouquet Isabella</h3>
				<p class="product-price">$62.50</p>
			</div>
		</div>
	</div>
	<div class="product-item product-hide">
		<div class="product-content">
			<div class="product-image thumb">
				<img src="images/products/bouquet5_image_1024@2x.jpg" alt="">
			</div>
			<div class="product-description">
				<h3 class="product-name">Flower Bouquet Juliet</h3>
				<p class="product-price">$68.50</p>
			</div>
		</div>
	</div>
	<div class="product-item product-hide">
		<div class="product-content">
			<div class="product-image thumb">
				<img src="images/products/bouquet6_image_1024@2x.jpg" alt="">
			</div>
			<div class="product-description">
				<h3 class="product-name">Flower Bouquet Elizabeth</h3>
				<p class="product-price">$86.00</p>
			</div>
		</div>
	</div>
</div>
