<section class="promotion">
	<div class="box-promotions">
		<div class="title-icon">
			<img class="title-icon-img" src="./images/home/image.png" alt="">
		</div>
		<div class="promotion-message">
			<p class="p-prom-description">FREE SHIPPING</p>
			<p class="p-prom-price"> ON ORDERS OVER <span class="prom-price">$200</span></p>
		</div>
	</div>
</section>
