<div id="mySidenav" class="sidenav closeSideNav">
  <i class="fas fa-bars closebtn" id="CloseMenu"></i>
  <div class="mobile-search-container">
    <form action="">
      <input type="text" placeholder="SEARCH" name="search">
    </form>
    <img src="/images/home/icon_lens.png" alt="lens">
  </div>
  <div class="mobile-navbar-container">
    <a href="#">BOUQUETS</a>
    <a href="#">BOUTONNIERES</a>
    <a href="#">CENTERPIECES</a>
    <a href="#">CEREMONY</a>
    <div class="line"></div>
  </div>
  <div class="mobile-account-container">
    <a href="#">LOG IN</a>
    <a href="#">CREATE ACCOUNT</a>
    <a href="#">CONTACT</a>
    <div class="line"></div>
  </div>
  <div class="mobile-info-container">
    <a href="#">ABOUT US</a>
    <a href="#">FAQ</a>
  </div>
</div>
