<div class="topnav">
  <div class="burger-menu">
    <i class="fas fa-bars" onclick="openNav()"></i>
    <img alt="bag" id="logo" class="whiteLogo">
    <div class="bag-container">
      <span>8</span>
      <img src="../images/home/wicon-bag.png" alt="bag">
    </div>
  </div>
  <div class="mobile-search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="SEARCH" name="search">
    </form>
    <img src="../images/home/icon_lens.png" alt="lens">
  </div>
  <div class="search-container">
    <img src="../images/home/icon_lens.png" alt="lens">
    <form action="/action_page.php">
      <input type="text" placeholder="SEARCH" name="search">
    </form>
  </div>
  <div class="icon-bag-container">
    <div class="dot"><span>8</span></div>
    <img src="../images/home/icon_bag.png" alt="bag">
  </div>
  <div class="account-container">
    <a href="#about">LOG IN</a>
    <a href="#contact">CREATE ACCOUNT</a>
  </div>
</div>
