$mobile: 'only screen and (max-width: 767px)';
$tablet: 'only screen and (min-width: 768px)';
$desktop-small: 'only screen' 1024px;
$desktop-large: 'only screen' 1280px;
$desktop-hd: 'only screen' 1440px;
