.button-base {

}

.button-cta {
  background-color: transparent;
  border: 3px solid $cerise-red;
  color: $cerise-red;
  font-family: $playfair-font;
  font-weight: 900;
  font-size: 16px;
  height: 40px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 175px;

  &:hover {
    background-color: $cerise-red;
    color: $white-solid;
  }
}

.back-btn {
  font-family: $merriweather-font;
  font-size: 13px;
  font-weight: 400;
  padding: 7px;
  position: absolute;
  right: 0;
  text-transform: capitalize;
}

.prev-btn {
  bottom: 15px;
  color: $black-solid;
  float: left;
  font-size: 15px;
  font-weight: 300;
  left: 55px;
  position: relative;
  text-transform: uppercase;

  &:hover {
    font-weight: 400;
    color: $black-solid;
  }
}

.next-btn {
  bottom: 15px;
  color: $black-solid;
  float: right;
  font-size: 15px;
  font-weight: 300;
  position: relative;
  right: 55px;
  text-transform: uppercase;

  &:hover {
    font-weight: 400;
    color: $black-solid;
  }
}
