.cart-container {
  padding: 0 15px;
  text-align: center;
}

.cart-image {
  float: left;
  height: 75px;
  margin-right: 15px;
  width: 50px;
}

.item {
  border-bottom: 1px solid $cerise-red;
  display: flex;
  padding: 0 10px 20px;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item-name {
  color: $emperor;
  display: block;
  font-size: small;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.item-controls {
  display: flex;
  justify-content: space-between;
}

.triangle {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 15px solid $emperor;
	height: 0;
  display: inline-block;
  width: 0;
}

.item-price {
  color: $emperor;
	font-family: $merriweather-font;
	font-size: 15px;
	font-weight: 100;
}
