// Helpers
.ft-right {
	float: right;
}

.mt-15 {
	margin-top: 15px;
}

.no-padding {
	padding: 0;
}

.pg-20-15 {
	padding: 20px 15px;
}

.show {
	display: block;
}

.no-scroll {
	overflow: hidden;
}
