
.tablet-collections {
  padding: 0 15px;
  display: flex;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer-box {
  width: 200px;
  height: 270px;
  display:block;
  position:relative;

  img {
    width: 200px;
    height: auto;
  }

  .inner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $cerise-red;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;

    p {
      color: #fff;
      line-height: 150px;
      // font-family: 'arial';
      text-align: center;
    }
  }

  &:hover {
    .inner-box {
      opacity: .7;
      transition: opacity .5s;
    }
  }
}
