.container {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.header {
  background-color: $cerise-red;
  height: 50px;
  width: 100%;
}

.footer {
  background-color: $white-solid;
  border: solid 1px $cerise-red;
  height: 120px;
  margin: 15px;
}
