@import "burger";

.burger-icon {
	@include burger(25px, 3px, 5px, $white-solid);
}

.menu-button {
	background-color: $cerise-red;
	border: 1px solid $cerise-red;
	display: inline-block;
	padding: .5em;
	&.is-active {
		.burger-icon {
			@include burger-to-cross;
		}
	}
}

.badge-conf {
	color: $white-solid;
	line-height: 50px;
	position: absolute;
	right: 50px;
}

.logo {
  background: url(../assets/logos_png/logo1_fiorella_mobil.png) no-repeat center;
  height: 50px;
}

// Sprites
.cart-icon {
	background: url(../assets/Sprite.png) no-repeat -171px -383px;
	height: 19px;
	line-height: 50px;
	position: absolute;
	top: 15px;
	width: 20px;

}

.bus-icon {
	background: url(../assets/Sprite.png) no-repeat -224px -48px;
	width: 68px;
	height: 52px;
	transform: scale(.5) translate(5%, 43%);
}

// Input
.container-text {
	padding: 7px 7px;
	margin: 0;
	.text-box {
		background: url(../assets/Sprite.png) no-repeat 230px -50px;
		box-shadow: none;
		display: inline-block;
		border: none;
		border-bottom: 1px solid $cerise-red;
		font-family: $merriweather-font;
		font-size: 13px;
		font-style: normal;
		margin: 0 auto;
		outline: none;
		padding: 1px 0px 5px 0px;
		text-transform: uppercase;
	}

	// @media (min-width: $mobile-portrait) {
	// 	background: url(../assets/Sprite.png) no-repeat 550px -50px;
	// }
}

// Carousel
.carousel {
	background-image: url(../assets/home/mobile/hero1_home_mobil.jpg);
	background-size: cover;
	background-position: center;
	height: 50%;
	position: relative;
}

.carousel-content {
	position: absolute;
	right: 10px;
	top: 190px;
}

.carousel-content-title {
	text-align: right;
}

// Articles
.article {
	background-color: $peppermint;
	height: 495px;
	text-align: center
}

.article-title {
	font-family: $playfair-font;
	overflow: hidden;
	text-align: center;
}

.article-content {
	color: $emperor;
	padding: 10px 20px;
	p {
		line-height: 30px;
	}
}

// Collection
.collection-item {
	margin-bottom: 10px;
	position: relative;
	text-align: center;
}

.collection-link {
	color: $white-solid;
	font-family: $playfair-font;
	font-size: 25px;
	font-weight: 700;
	height: 100%;
	padding-top: 25%;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	&:hover {
		color: $white-solid;
	}
	&:active {
		color: $white-solid;
	}
}

// Shipping
.shipping {
	background-image: url(../assets/home/mobile/banner_image_home_mobil.jpg);
	background-size: cover;
	height: 257px;
	position: relative;
}

.shipping-title {
	overflow: hidden;
	text-align: left;
}

.shipping-content {
	letter-spacing: 2px;
	margin: 121px 0 0 5%;
	width: 40%;
	p {
		color: $cerise-red;
		font-family: $playfair-font;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
	}
}

.shipping-link {
	color: $black-solid;
	font-family: $playfair-font;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	width: 100%;
	top: 0;
	height: 100%;
	padding: 130px 160px 0 5%;
	letter-spacing: 2px;
	&:hover {
		color: $black-solid;
	}
	&:active {
		color: $black-solid;
	}
}

// Headings
.h-style {
	display: inline-block;
	font-style: normal;
	padding: 25px 15px;
	position: relative;
	text-transform: uppercase;
	&:before {
		background: $cerise-red;
	  content: "";
	  display: block;
	  height: 1px;
	  position: absolute;
		right: 100%;
    top: 50%;
	  width: 50%;
	}
	&:after {
		background: $cerise-red;
	  content: "";
	  display: block;
	  height: 1px;
		left: 100%;
	  position: absolute;
    top: 50%;
	  width: 50%;
	}
}

.s-style {
	display: inline-block;
	&:before {
		background: $cerise-red;
	  content: "";
	  display: block;
	  height: 1px;
	  position: absolute;
		right: 115%;
    top: 35%;
	  width: 100%;
	}
	&:after {
		background: $cerise-red;
	  content: "";
	  display: block;
	  height: 1px;
		left: 115%;
	  position: absolute;
    top: 35%;
	  width: 700%;
	}
}

// Helpers
.ft-right {
	float: right;
}

.mt-15 {
	margin-top: 15px;
}

.no-padding {
	padding: 0;
}

.pg-20-10 {
	padding: 20px 10px;
}
