@import "burger";

.burger-icon {
	@include burger(25px, 3px, 5px, $white-solid);
}

.menu-button {
	background-color: $cerise-red;
	border: 1px solid $cerise-red;
	display: inline-block;
	padding: .5em;
	&.is-active {
		.burger-icon {
			@include burger-to-cross;
		}
	}
}

.badge-conf{
	color: $white-solid;
	line-height: 50px;
	position: absolute;
	right: 50px;
}

.logo {
  background: url(../assets/logos_png/logo1_fiorella_mobil.png) no-repeat center;
  height: 50px;
}

// Sprites
.cart-icon {
	background: url(../assets/Sprite.png) no-repeat -171px -383px;
	height: 19px;
	line-height: 50px;
	position: absolute;
	top: 15px;
	width: 20px;

}

.container-text {
	padding: 7px 7px;
	margin: 0;
	.text-box {
		background: url(../assets/Sprite.png) no-repeat 292px -50px;
		box-shadow: none;
		display: inline-block;
		border: none;
		border-bottom: 1px solid $cerise-red;
		font-family: $merriweather-font;
		font-size: 13px;
		font-style: normal;
		margin: 0 auto;
		outline: none;
		padding: 1px 0px 5px 0px;
		text-transform: uppercase;
	}

	// @media (min-width: $mobile-portrait) {
	// 	background: url(../assets/Sprite.png) no-repeat 550px -50px;
	// }
}

.carousel {
	background-image: url(../assets/home/mobile/hero1_home_mobil.jpg);
	background-size: cover;
	background-position: center;
	height: 50%;
	position: relative;
}

.carousel-content {
	position: absolute;
	right: 10px;
	top: 190px;
}

.carousel-content-title {
	text-align: right;
}

// Articles
.article {
	background-color: $peppermint;
	position: absolute;
	top: 284px;
}

// Helpers
.ft-right {
	float: right;
}

.mt-15 {
	margin-top: 15px;
}
