@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Merriweather+Sans:400,700|Playfair+Display:400,400i,700,900');

// only regular 400
$berkshire-font: 'Berkshire Swash', cursive;

// regular 400 and bold 700
$merriweather-font: 'Merriweather Sans', sans-serif;

// regular 400, bold 700, black 900, italic 400
$playfair-font: 'Playfair Display', serif;
