<div class="scroll-up">
  <a href="#" class="scroll-up-button" name="scrollup">
    <p>{{ 'collections.general.scroll_up' | t }}</p>
    {{ 'arrow-up-white.png' | asset_url | img_tag | link_to: 'https://google.com/', 'Arrow Up' }}
  </a>
</div>
