<div class="scroll-up">
  <a href="#" class="scroll-up-button" name="scrollup">
    <h3 class="title">SCROLL UP</h3>
    <img class="up-arrow" src="{{ 'arrow-up-white.png' | asset_url }}" alt="Arrow Up">
  </a>
</div>
