<div class="social-sharing social-media-icon-group social-media-icon">

  <div class="sm icon-social-media">
    {{ 'fb.png' | asset_url | img_tag | link_to: 'https://facebook.com/', 'Share me on facebook' }}
  </div>

  <div class="sm twt icon-social-media">
    {{ 'twt.png' | asset_url | img_tag | link_to: 'https://twitter.com/iamawesome', 'follow me on twitter' }}
  </div>

  <div class="sm icon-social-media">
    {{ 'gplus.png' | asset_url | img_tag | link_to: 'https://plus.google.com/?hl=es', 'Google Plus' }}
  </div>

</div>
