@mixin hover-categories($background-color,$border-color,$border-width,$font-color,$font-size,$height,$width) {
  background: $background-color;
  border-color: $border-color;
  border-style: solid;
  border-width: $border-width;
  color: $font-color;
  font-size: $font-size;
  height: $height;
  width: $width;
}
