
$mobile: "only screen and (min-width: 767px)";
$tablet: "only screen and (min-width: 768px) and (max-width: 1023px)";
$desktop: "only screen and (min-width: 1024px)";

$cerise-red-hover: rgba(#E83671, 0.7);
$cerise-red: #E83671;
$font-color-white: #ffffff;
$border-color-white: #ffffff;
$transparent: transparent;
$playfair-display: "Playfair Display";
$merriweathersans: "Merriweather Sans";
